<?xml version="1.0" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>                                           
		<servlet-name>SUPS FOP Notice Of Issue PDF Service</servlet-name>            
	    <servlet-class>uk.gov.dca.caseman.wordprocessing.servlets.NoticeOfIssue</servlet-class> 
	</servlet>         

	 <servlet-mapping>                                   
		   <servlet-name>SUPS FOP Notice Of Issue PDF Service</servlet-name>        
		   <url-pattern>/servicenoticeofissuefop/*</url-pattern>            
	 </servlet-mapping>       
	
</web-app>
