/***** Specific Field Widths *******/

#Header_EnforcementType { width: 140px; }
#Header_IssuingCourtName { width: 185px; }
#Payment_Type { width: 200px;}
#Payment_RetentionType { width: 200px;}

td.headerLabel { width:200px; }
td.paymentLabel { width:115px; }

/************** Grids **************/

#Parties_Grid 
{ 
	width: 611px; 
	margin:5px; 
}
#Parties_Grid .col0 { width: 160px; }
#Parties_Grid .col1 { width: 47px; }
#Parties_Grid .col2 { width: 372px; }

/************ LOV Grids ************/

#Lov_Court 
{
	width: 372px;
	left: 50%;
	margin-left: -186px;
	top: 100px;
}
#Lov_Court .col0 { width: 50px; }
#Lov_Court .col1 { width: 250px; }

#Lov_SearchResults {
	top: 100px;
	left: 67px;
	width: 836px;
}
#Lov_SearchResults .col0 {
	width: 50px;
}
#Lov_SearchResults .col1 {
	width: 131px;
}
#Lov_SearchResults .col2 {
	width: 93px;
}
#Lov_SearchResults .col3 {
	width: 93px;
}
#Lov_SearchResults .col4 {
	width: 174px;
}
#Lov_SearchResults .col5 {
	width: 174px;
}
#Lov_SearchResults .col6 {
	width: 29px;
}

#Lov_Lodgment 
{ 
	top: 100px;
	left: 235px;
	width: 500px;
}
#Lov_Lodgment .col0 { width: 130px; }
#Lov_Lodgment .col1 { width: 298px; }

#Lov_Payee 
{
	top: 100px;
	left: 185px;
	width: 600px;
}
#Lov_Payee .col0 { width: 32px; }
#Lov_Payee .col1 { width: 161px; }
#Lov_Payee .col2 { width: 331px; }