form#BMSReport 
{
  display: inline;
}

#title
{
  text-align: left;
  font-size: 17px;
  font-weight: bold;
}


table .content 
{
  height: 570px;
}

td .alignRight 
{
  width: 45%;
  text-align: right;
}

td .alignLeft 
{
  width: 55%;
  text-align: left;
}

#Params_SectionName_SelLOVGrid
{
	width: 680px;
	left: 150px;
	top: 100px;
}
#Params_SectionName_SelLOVGrid .col0
{
	width: 200px;
}
#Params_SectionName_SelLOVGrid .col1
{
	width: 400px;
}

#ProgressIndicator_Popup
{
	width: 400px;
	height:150px;
	top: 150px;
	left: 275px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}

table .rel3paramcontent 
{
  height: 530px;
  width: 953px;
  margin-bottom: 10px;
}

table .headercontent 
{
  height: 20px;
  width: 953px;
}

td .alignCentre 
{
  width: 100%;
  text-align: center;
}