#customerLOV{
	width: 400px;
	left: 300px;
	top: 100px;
}
#customerLOV .col0
{
	width: 88px;
}

#customerLOV .col1
{
	width: 240px;
}
#Tabs_Email_Address_Txt {
width: 200px;
}
#Tabs_Payee_Email_Txt {
width: 200px;
}

#Zoom_Hidden_Btn {	
	visibility: hidden;
}
