div#ViewHumanRightsActEventDetail 
{
  disply: inline; 
}

div#Parties_ResultsGrid 
{
  margin: 5px;
  width: 580px;	
}

div#Article_ResultsGrid 
{
  margin-left: 5px;
  width: 900px;	
}

div#Protocol_ResultsGrid 
{
  margin-left: 5px;
  width: 900px;	
}

div#Parties_ResultsGrid .col0 { width: 100px; }
div#Parties_ResultsGrid .col1 { width: 284px; }
div#Parties_ResultsGrid .col2 { width: 70px; }
div#Parties_ResultsGrid .col3 { width: 90px; }

div#Article_ResultsGrid .col0 { width: 100px; }
div#Article_ResultsGrid .col1 { width: 772px; }

div#Protocol_ResultsGrid .col0 { width: 100px; }
div#Protocol_ResultsGrid .col1 { width: 772px; }

/***************************************** LOV POP-UPS **************************************/

#SearchResultsLOVGrid
{
	height: 302px;
	width: 680px;
	left: 50%;
	top: 50%;
	margin-left: -340px;
	margin-top: -151px;
}