/*
File Name			:QueryRejectedPaid.css
Description			:
Owner	(EDS Net ID)	:Reham Zaki (lz0m1w)
Modification History	:
================================================================================
                         	Prior
Date       EDS Net ID        					    Version    CR      Description
---------- ------------- 	      						--------   ------- -------------------------------
15-6-2005  Reham Zaki (lz0m1w)            1.0       N/A         Intial construction
*/
#Reject_Reason 
{
	width: 665px;
}
#Main_RejectedPaid_Grid
{
	width: 950px;
    
}


#Main_RejectedPaid_Grid .col0 { width: 80px; }
#Main_RejectedPaid_Grid .col1 { width: 60px; }
#Main_RejectedPaid_Grid .col2 { width: 100px; }
#Main_RejectedPaid_Grid .col3 { width: 80px; }
#Main_RejectedPaid_Grid .col4 { width: 70px; }
#Main_RejectedPaid_Grid .col5 { width: 90px; }
#Main_RejectedPaid_Grid .col6 { width: 30px; }
#Main_RejectedPaid_Grid .col7 { width: 90px; }
#Main_RejectedPaid_Grid .col8 { width: 85px; }
#Main_RejectedPaid_Grid .col9 { width: 205px; }

