
div.title
{
  font-weight: bolder;
  color: black;
  font-family: Arial;
  font-size: 14pt;
}

div.listitem
{
  padding-top: 5px;
  font-weight: normal;
  color: blue;
  font-family: Arial;
  font-size: 10pt;
  margin-left: 10px;
  cursor: hand;
}

div.body
{
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  color: black;
  font-family: Arial;
  font-size: 10pt;
  margin-left: 10px;
}

