body
{
	background-color: #ececd9;
}

div.title
{
  font-weight: bolder;
  color: black;
  font-family: Arial;
  font-size: 14pt;
}

div.listitem
{
  padding-top: 5px;
  font-weight: normal;
  color: blue;
  font-family: Arial;
  font-size: 10pt;
  margin-left: 400px;
  cursor: hand;
  text-align: left;
}

div.bodyheader
{
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
  color: black;
  font-family: Arial;
  font-size: 10pt;
  margin-left: 10px;
}


