#AddHearing_HearingType_Name
{
	width: 300px;
}

#SelectVenue_VenueName
{
	width: 200px;
}

/****************************************** GRID ********************************************/

#selectVenue_Address_Grid
{
	margin: 5px;
	width: 330px;
}

#selectVenue_Address_Grid .col0 { width: 150px; }
#selectVenue_Address_Grid .col1 { width: 150px; }

/***************************************** POP-UPS ******************************************/

#SelectVenue
{
	visibility: hidden;
	position: absolute;
	left: 15px;
	top: 50px;
	width: 778px;
}

/************************************* LOV POPUPS *****************************************/

#selectHearingTypeLOV
{
	width: 472px;
	left: 50%;
	margin-left: -236px;
	top: 40px;		
}
#selectHearingTypeLOV .col0 { width: 150px; }
#selectHearingTypeLOV .col1 { width: 250px; }

#selectVenueLOV
{
	width: 372px;
	left: 50%;
	margin-left: -186px;
	top: 40px;			
}
#selectVenueLOV .col0 { width: 50px; }
#selectVenueLOV .col1 { width: 250px; }