/* ProgressBar Popup Title */
div.progressbarPopupTitle
{
	background-color: #c1bdb0;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	color: #222222;
	width: 100%;
}


#ProgressIndicator_Panel 
{
	height: 100px;
}

#ProgressIndicator_ActionBarContainer 
{
	width: 420px;
}






























