form#hearingDetailsSubform
{
	display: inline;
}

/************************************* AUTO COMPLETES ***************************************/

#HearingDetails_VenueName
{
	width: 197px;
}
#HearingDetails_VenueName .input
{
	width: 173px;
}

#HearingDetails_HearingType
{
	width: 200px;
}
#HearingDetails_HearingType .input
{
	width: 176px;
}

/****************************************** GRID ********************************************/

#HearingDetails_VenueAddressesGrid
{
	margin: 5px;
	width: 310px;
}

#HearingDetails_VenueAddressesGrid .col0 { width: 300px; }

/************************************* LOV POPUPS *****************************************/

#CourtsLOVGrid
{
	width: 372px;
	left: 50%;
	margin-left: -186px;
	top: 25px;
}

#CourtsLOVGrid .col0 { width: 50px; }
#CourtsLOVGrid .col1 { width: 250px; }

#HearingDetails_HearingTypeLOVGrid
{
	width: 472px;
	left: 50%;
	margin-left: -236px;
	top: 25px;
}

#HearingDetails_HearingTypeLOVGrid .col0 { width: 150px; }
#HearingDetails_HearingTypeLOVGrid .col1 { 	width: 250px; }