/* Form display inline style */
form#windowForTrial
{
	display: inline;
}

/* Set width of the Track dropdown */
select#WindowForTrial_Track
{
	width: 160px;
}

/* Set width of the Reason for Adjournment dropdown */
#WindowForTrial_ReasonForAdjournment
{
	width: 280px;
}

/***************************************** SUBFORMS *****************************************/

#addNewWFT_subform
{
	left: 50%;
	top: 50%;
	width: 600px;
	height: 280px;
	margin-left: -300px;
	margin-top: -140px;
}

/****************************************** GRID ********************************************/

#Header_PartyTypeListGrid
{
	margin: 5px;
	width: 350px;
}

#Header_PartyTypeListGrid .col0 { width: 110px; }
#Header_PartyTypeListGrid .col1 { width: 50px; }
#Header_PartyTypeListGrid .col2 { width: 157px; }

#Master_WindowForTrialGrid
{
	margin: 5px;
	width: 375px;
}

#Master_WindowForTrialGrid .col0 { width: 75px; }
#Master_WindowForTrialGrid .col1 { width: 75px; }
#Master_WindowForTrialGrid .col2 { width: 160px; }
#Master_WindowForTrialGrid .col3 { width: 28px; }

#WindowForTrial_ExcludedDatesGrid 
{
	margin-bottom: 5px;
}

#WindowForTrial_ExcludedDatesGrid .col0 { width: 105px; }
#WindowForTrial_ExcludedDatesGrid .col1 { width: 40px; }
#WindowForTrial_ExcludedDatesGrid .col2 { width: 95px; }
#WindowForTrial_ExcludedDatesGrid .col3 { width: 40px; }

#ExludedDatesPopup_ExcludedDatesGrid .col0 { width: 100px; }
#ExludedDatesPopup_ExcludedDatesGrid .col1 { width: 50px; }
#ExludedDatesPopup_ExcludedDatesGrid .col2 { width: 98px; }
#ExludedDatesPopup_ExcludedDatesGrid .col3 { width: 52px; }

/***************************************** POP-UPS ******************************************/

#ExcludedDates_Popup
{
	left: 50%;
	top: 50%;
	width: 360px;
	height: 259px;
	margin-left: -180px;
	margin-top: -130px;
}

/************************************* LOV POPUPS *****************************************/

#WindowForTrial_StatusLOVGrid
{
	height: 302px;
	width: 522px;
	top: 50%;
	left: 50%;
	margin-left: -261px;
	margin-top: -151px;
}

#WindowForTrial_ReasonForAdjournmentLOVGrid
{
	height: 302px;
	width: 360px;
	top: 50%;
	left: 50%;
	margin-left: -180px;
	margin-top: -151px;
}