form#transferCOSubform
{
	display: inline;
}

/* Set width of new Court Name Autocomplete field */
#TransferCO_Court_Name
{
	width: 200px;
}

/* Change Case Type LOV Grid */
#TransferCO_CourtName_LOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

#TransferCO_CourtName_LOVGrid .col0 { width: 50px; }
#TransferCO_CourtName_LOVGrid .col1 { width: 250px; }