/************** COMMON CSS STYLES FOR THE CO AND AE PER CALCULATOR SCREENS ****************/

td#partiesColumn {width: 350px;}

/* Set width of the calculated period drop down */
#Main_CalculatedPeriod
{
	width: 100px;
}

/***************************************** TABS ********************************************/
div#myTabbedArea
{
	margin: 5px;
}

/************************************* POPUPS ****************************************/
div#StandardAllowances_Popup
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -290px;
	margin-top: -99px;
	width: 580px;
	height: 182px;
}

/************************************* GRIDS *****************************************/
#PersonalAllowancesGrid {margin: 5px; width: 925px;}
#PersonalAllowancesGrid .col0{width: 60px;}
#PersonalAllowancesGrid .col1{width: 350px;}
#PersonalAllowancesGrid .col2{width: 10px;}
#PersonalAllowancesGrid .col3{width: 70px;}
#PersonalAllowancesGrid .col4{width: 50px;}
#PersonalAllowancesGrid .col5{width: 10px;}
#PersonalAllowancesGrid .col6{width: 100px;}
#PersonalAllowancesGrid .col7{width: 90px;}
#PersonalAllowancesGrid .col8{width: 129px;}

#PremiumsGrid {margin: 5px; width: 925px;}
#PremiumsGrid .col0{width: 60px;}
#PremiumsGrid .col1{width: 350px;}
#PremiumsGrid .col2{width: 10px;}
#PremiumsGrid .col3{width: 70px;}
#PremiumsGrid .col4{width: 50px;}
#PremiumsGrid .col5{width: 10px;}
#PremiumsGrid .col6{width: 100px;}
#PremiumsGrid .col7{width: 90px;}
#PremiumsGrid .col8{width: 129px;}

#OtherLiabilitiesGrid {margin: 5px; width: 925px;}
#OtherLiabilitiesGrid .col0{width: 60px;}
#OtherLiabilitiesGrid .col1{width: 350px;}
#OtherLiabilitiesGrid .col2{width: 10px;}
#OtherLiabilitiesGrid .col3{width: 70px;}
#OtherLiabilitiesGrid .col4{width: 50px;}
#OtherLiabilitiesGrid .col5{width: 10px;}
#OtherLiabilitiesGrid .col6{width: 100px;}
#OtherLiabilitiesGrid .col7{width: 90px;}
#OtherLiabilitiesGrid .col8{width: 129px;}

#OtherResourcesGrid {margin: 5px; width: 925px;}
#OtherResourcesGrid .col0{width: 60px;}
#OtherResourcesGrid .col1{width: 350px;}
#OtherResourcesGrid .col2{width: 10px;}
#OtherResourcesGrid .col3{width: 70px;}
#OtherResourcesGrid .col4{width: 50px;}
#OtherResourcesGrid .col5{width: 10px;}
#OtherResourcesGrid .col6{width: 100px;}
#OtherResourcesGrid .col7{width: 90px;}
#OtherResourcesGrid .col8{width: 129px;}

/************************************* LOV POPUPS ************************************/
#PersonalAllowancesLOV {height: 302px; width: 432px; left: 50%; top: 50%; margin-left: -216px; margin-top: -151px;}

#PremiumsLOV {height: 302px; width: 432px; left: 50%; top: 50%; margin-left: -216px; margin-top: -151px;}

#OtherLiabilitiesLOV {height: 302px; width: 432px; left: 50%; top: 50%; margin-left: -216px; margin-top: -151px;}

#OtherResourcesLOV {height: 302px; width: 432px; left: 50%; top: 50%; margin-left: -216px; margin-top: -151px;}

#ProgressIndicator_Popup
{
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -75px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}