/**
  * Change History:
  * 10/02/2010 - Chris Vincent.  Added courtFieldLabel as part of Trac 2629
  */

form#addNewCourtSubform
{
	display: inline;
}

#AddNewCourt_Court_AccountType
{
	width: 100px;
}

/* Default label column style */
td.courtFieldLabel
{
	width: 170px;
}

/************************************* LOV POPUPS *****************************************/

#AddNewCourt_GroupingCourtLOVGrid
{
	width: 372px;
	left: 50%;
	margin-left: -186px;
	top: 10px;
}

#AddNewCourt_GroupingCourtLOVGrid .col0 { width: 50px; }
#AddNewCourt_GroupingCourtLOVGrid .col1 { width: 250px; }