form#QueryByPartyWarrant
{
	display: inline;
}

#Header_PartyType_Sel { width: 200px; }
#Header_IssuingCourtName
{
	width: 200px;
}

#Header_ExecutingCourtName
{
	width: 200px;
	margin-top:5px;
}

#Results_ResultsGrid { margin: 5px; }
#Results_ResultsGrid .col0 { width: 100px; }
#Results_ResultsGrid .col1 { width: 100px; }
#Results_ResultsGrid .col2 { width: 150px; }
#Results_ResultsGrid .col3 { width: 200px; }
#Results_ResultsGrid .col4 { width: 161px; }
#Results_ResultsGrid .col5 { width: 161px; }
#Results_ResultsGrid .col6 { width: 30px; }

#OwningCourtLOV
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}