form#maintainLocalCodedPartySubform
{
	display: inline;
}

/************************************* LOV POPUPS *****************************************/

#MaintainCodedParty_NewCodeLOVGrid
{
	height: 302px;
	width: 526px;
	top: 50%;
	left: 50%;
	margin-left: -263px;
	margin-top: -151px;
}

#MaintainCodedParty_NewCodeLOVGrid .col0 { width: 50px; }
#MaintainCodedParty_NewCodeLOVGrid .col1 { width: 150px; }
#MaintainCodedParty_NewCodeLOVGrid .col2 { width: 250px; }