td 
{
  vertical-align: middle;
  text-align: center;
  font-size: 11;
  font-family: Tahoma, Verdana, Arial, Helvetica;
}

body
{
  background-color: threedface;
}

.dialogButton
{
  width: 72px;
  height: 23px;
  font-size: 11;
  font-family: Tahoma, Verdana, Arial, Helvetica;
}
table
{
  height: 80px;
  width: 200px;
}
tr
{
  align: center;
  height: 40px;
}