form#DisplayDMSDailyReport
{
	display: inline;
}

input.headerField
{
	margin-top: 5px;
	margin-bottom: 5px;
}

div#Results_ResultsGrid, input#ObligationDescription_Txt
{
	margin: 5px;
	width: 945px;	
}

div#Results_ResultsGrid .col0 { width: 40px; }
div#Results_ResultsGrid .col1 { width: 90px; }
div#Results_ResultsGrid .col2 { width: 90px; }
div#Results_ResultsGrid .col3 { width: 90px; }
div#Results_ResultsGrid .col4 { width: 595px; }

#DMS_Query_ObligationTypeLOV 
{
	height: 302px;
	width: 492px;
	top: 50%;
	left: 50%;
	margin-left: -246px;
	margin-top: -151px;
}

/**************************** ORACLE REPORT PROGRESS BAR **********************************/

#ProgressIndicator_Popup
{
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -75px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}