form#selectEventOutputSubform
{
	display: inline;
}

/****************************************** GRID ********************************************/

#SelectEventOutput_OutputGrid .col0 { width: 16px; }
#SelectEventOutput_OutputGrid .col1 { width: 108px; }
#SelectEventOutput_OutputGrid .col2 { width: 200px; }

#SelectEventOutput_OutputGrid .editOutputClass .col0
{
	background: url('../caseman_wp/WordProcessor/wordprocessing/images/buttons/icon_edt_table.gif') center left no-repeat;
}

#SelectEventOutput_OutputGrid .openOutputClass .col0
{
	background: url('../caseman_wp/WordProcessor/wordprocessing/images/buttons/acrobat-icon.gif') center left no-repeat;
}

#SelectEventOutput_OutputGrid .failOutputClass .col0
{
	background: url('../caseman_wp/WordProcessor/wordprocessing/images/buttons/docError.gif') center left no-repeat;
}