/*
File Name			:LogReturnedTapes.css
Description			:
Owner	(EDS Net ID)	:Hassan F Elhalafawy (vz618c)
Modification History	:
================================================================================
                         					Prior
Date        EDS Net ID        			Version    CR      Description
----------  --------------------------  --------  ------- ----------------------
07-06-2005  Ahmed Bader  (rzm5xl)      		1.0a          N/A     Created
10-07-2005  Hassan F Elhalafawy (vz618c)    1.0b          N/A     Modified    
================================================================================
*/

#Customer_LOV{
	visibility: hidden;
	position: absolute;
	width: 600px;
	left: 1px;
	top: 65px;
}

#Customer_LOV .col0{
	width: 10%;
}

#Customer_LOV .col1{
	width: 88%;
}

td#master{
	height: 508px; 
	width: 95%;
}

td#colored{
	background-color: #ececd9;
}

td#label{
	width: 125px;
}

#Query_MaintainCourts_Grid {
	width: 400px;
}

#Query_MaintainCourts_Grid .col0{
	width: 400px;
}

div#Master_FileNames_Grid .col0 {
	width: 50px;
}

div#Master_FileNames_Grid .col1 {
	width: 2px;
}

div#Master_FileNames_Grid .col2 {
	width: 60px;
}

div#Query_ReturnCustomerTapes_Grid .col0 {
	width: 50px;
}

div#Query_ReturnCustomerTapes_Grid .col1 {
	width: 50px;
}

div#Query_ReturnCustomerTapes_Grid .col2 { width: 90px; }

div#Query_ReturnCustomerTapes_Grid .col3 { width: 50px; }

div#Query_ReturnCustomerTapes_Grid .col4 { width: 50px; }

div#Query_ReturnCustomerTapes_Grid .col5 { width: 50px; }

div#Query_ReturnCustomerTapes_Grid .col6 { width: 50px; }

div#Query_ReturnCustomerTapes_Grid .col7 { width: 50px; }

div#Query_ReturnCustomerTapes_Grid .col8 { width: 50px; }

div#Query_ReturnCustomerTapes_Grid .col9 { width: 50px; }

#Query_popup
{
	visibility: hidden;
	position: absolute;
	left: 200px;
	top: 90px;
	width: 600px;
}

div#Query_SearchFiles_Grid .col0 {
	width: 50px;
}

div#Query_SearchFiles_Grid .col1 {
	width: 50px;}

div#Query_SearchFiles_Grid .col2 {
	width: 70px;}

div#Query_SearchFiles_Grid .col3 {
	width: 50px;}

div#Query_SearchFiles_Grid .col4 {
	width: 50px;}

#Query_Tapes_Grid .col0{
	width: 90px;
}

#Query_Tapes_Grid .col1{
	width: 90px;
}

#Query_Tapes_Grid .col2{
	width: 160px;
}

#Query_Tapes_Grid .col3{
	width: 85px;
}

#Query_Tapes_Grid .col4{
	width: 87px;
}


#Master_TapeFiles_Grid .col0{
	width: 400px;
}

#Main_Zoom_Btn{
	visibility: hidden;
}

#Main_Clear_Obj{
	visibility: hidden;
}

#Master_FileComments_Txt{
	width: 340px;
}