div#Query_popup {

	visibility: hidden;
	position: absolute;
	left: 50px;
	top: 200px;
	width: 800px;
}
		
div#Query_popup > table {
	width: 800px;
}

#Tabs_EmailAddress_Txt {
width: 200px;
}
#Zoom_Hidden_Btn {
	visibility: hidden;
}