#Records_Grid 
{ 
	width: 950px; 
	margin: 5px; 
}
#Records_Grid .col0 { width: 300px; }
#Records_Grid .col1 { width: 160px; }
#Records_Grid .col2 { width: 150px; }
#Records_Grid .col3 { width: 150px; }
#Records_Grid .col4 { width: 150px; }