form#createUpdateCase { display: inline; }

/* Footer Panel spacer column style */
td.footerSpacer { width: 50px; }

/* Sets the width of all the footer panel buttons */
input.addUpdateButton { width: 110px; }

/* Sets the widths of the select lists */
#LitigiousParty_SelectSolicitor { width: 175px; }

/* Sets the width for all party field label cells */
.partyLabel { width: 200px; }

/****************************************** GRID ********************************************/

#masterGrid
{
	margin: 5px;
	width: 395px;
}

#masterGrid .col0 { width: 125px; }
#masterGrid .col1 { width: 47px; }
#masterGrid .col2 { width: 141px; }
#masterGrid .col3 { width: 46px; }

/***************************************** POP-UPS ******************************************/

div#Create_Copy_Popup
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	margin-left: -225px;
	margin-top: -86px;
	top: 50%;
	width: 450px;
	height: 172px;
}

/************************************* LOV POPUPS *****************************************/

#Header_CaseType { width: 203px; }
#Header_CaseType .input { width: 179px; }

#Header_OwningCourtName { width: 173px; }
#Header_OwningCourtName .input { width: 149px; }

#CreateCopyPopup_OwningCourtName { width: 173px; }
#CreateCopyPopup_OwningCourtName .input { width: 149px; }

#CourtsLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	margin-left: -186px;
	top: 100px;
}

/***************************************** TABS ********************************************/

div#myTabbedArea
{
	margin: 0px;
}

div#myPagedArea
{
	margin: 0px;
	height: 430px;
	width: 535px;
}