#Header_Party_For {
	width: 275px;
}

#Header_Party_ForLov 
{
	top: 50%;
	margin-top: -139px;
	left: 50%;
	margin-left: -216px;
	width: 432px;
	height: 278px;
}
#Header_Party_ForLov .col0 {
	width: 366px;
}

#Header_Party_Against {
	width: 275px;
}

#Header_Party_AgainstLov 
{
	top: 50%;
	margin-top: -139px;
	left: 50%;
	margin-left: -216px;
	width: 432px;
	height: 278px;
}
#Header_Party_AgainstLov .col0 {
	width: 366px;
}

#AEDetails_ExistingAEsLov 
{
	top: 50%;
	margin-top: -139px;
	left: 50%;
	margin-left: -286px;
	width: 615px;
	height: 278px;
}

#AEDetails_Application_Type {
	width: 225px;
}

#AEDetails_Application_TypeLov 
{
	top: 50%;
	margin-top: -139px;
	left: 50%;
	margin-left: -218px;
	width: 435px;
	height: 278px;
}

#AEDetails_Date_Of_Receipt {
	width: 140px;
}

#AEDetails_Date_Of_Issue {
	width: 140px;
}

#Address_Paged_Area {
	border: 0px;
	height: 230px;
}

#Add_AddressPopup {
	left: 280px;
	top: 150px;
	width: 400px;
}

#Add_EmployerPopup {
	left: 280px;
	top: 140px;
	width: 400px;
}

input.topmargin { margin-top: 5px; }
input.bottommargin { margin-bottom: 5px; }

/***************************************** TABS ********************************************/

div#Address_Tabbed_Area
{
	margin: 0px;
}

div#Address_Paged_Area
{
	margin: 0px;
	height: 226px;
	width: 945px;
}

/************************************** SUBFORMS ******************************************/

#viewHistAddresses_subform
{
	width: 850px;
	height: 248px;
	left: 50%;
	top: 50%;
	margin-left: -425px;
	margin-top: -124px;
}

#viewEmpHistAddresses_subform
{
	width: 850px;
	height: 248px;
	left: 50%;
	top: 50%;
	margin-left: -425px;
	margin-top: -124px;
}

#addNewAddress_subform
{
	width: 600px;
	height: 198px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -99px;
}

#addNewEmpAddress_subform
{
	width: 600px;
	height: 220px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -110px;
}