
form#maintainSystemData
{
	display: inline;
}

#PERDetails_Prompt
{
	width: 350px;
}

#CourtSpecific_CourtName
{
	width: 270px;
}

/************************************** SUBFORMS ******************************************/

#maintainSystemData_subform
{
	width: 600px;
	height: 153px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -77px;
}

/*************************************** GRIDS ********************************************/

#PERDetails_PERDetailsGrid 
{
	width: 463px;
	margin: 5px;
}
#PERDetails_PERDetailsGrid .col0 { width: 150px; }
#PERDetails_PERDetailsGrid .col1 { width: 10px; text-align: center; }
#PERDetails_PERDetailsGrid .col2 { width: 270px; }

#OtherData_OtherDataGrid 
{ 
	width: 463px;
	margin: 5px;
}
#OtherData_OtherDataGrid .col0 { width: 150px; }
#OtherData_OtherDataGrid .col1 { width: 10px; text-align: center; }
#OtherData_OtherDataGrid .col2 { width: 270px; }

#CourtSpecific_ResultsGrid 
{ 
	width: 463px;
	margin: 5px;
}
#CourtSpecific_ResultsGrid .col0 { width: 150px; }
#CourtSpecific_ResultsGrid .col1 { width: 10px; text-align: center; }
#CourtSpecific_ResultsGrid .col2 { width: 270px; }

/***************************************** TABS ******************************************/

div#myTabbedArea
{
	margin: 0px;
}

div#myPagedArea
{
	margin: 0px;
	height: 550px;
	width: 957px;
}

/************************************ LOV POPUPS ********************************************/

#CourtSpecific_CourtLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

#PERDetails_PERLOVGrid
{
	height: 302px;
	width: 472px;
	left: 50%;
	top: 50%;
	margin-left: -236px;
	margin-top: -151px;
}