/****************************************** GRIDS *******************************************/

/* Add Judgment Popup - In Favour Of Grid */
div#AddJudgment_InFavourOfGrid .col0 { width: 110px; }
div#AddJudgment_InFavourOfGrid .col1 { width: 50px; }
div#AddJudgment_InFavourOfGrid .col2 { width: 157px; }

/* Add In Favour Of Popup - In Favour Of Grid */
div#AddInFavourOf_Grid .col0 { width: 110px; }
div#AddInFavourOf_Grid .col1 { width: 50px; }
div#AddInFavourOf_Grid .col2 { width: 169px; }

/************************************* LOV POPUPS *****************************************/

#selectAddJudgment_Against_LOV
{
	height: 337px;
	width: 393px;
	left: 50px;
	top: 50px;			
}
#selectAddJudgment_Against_LOV .col0 { width: 110px; }
#selectAddJudgment_Against_LOV .col1 { width: 50px; }
#selectAddJudgment_Against_LOV .col2 { width: 157px; }


#selectCourtLOV
{
	height: 337px;
	width: 372px;
	left: 50px;
	top: 50px;			
}
#selectCourtLOV .col0 { width: 50px; }
#selectCourtLOV .col1 { width: 250px; }

/***************************************** POP-UPS ******************************************/
div#AddInFavourOf
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50px;
	width: 385px;
	margin-left: -192px;
}