form#payableOrderScheduleSubform
{
	display: inline;
}

tr.hearing_header
{
  background-color: #b1c9ba;
  border-bottom: 3px solid black;
}

td.hearing_heading
{
  font-size: 14pt;
  font-weight: normal;
}

.popup_header
{
	border: solid 0 #060; 
	border-bottom-width:2px; 
	padding-left:0.5ex;
	background-color:#b1c9ba;
}

#CaseMan_AsyncMonitorPopup
{
	width: 196px;
	height:100px;
	top: 50%;
	left: 50%;
	margin-left: -98px;
	margin-top: -50px;
}