form#ViewHistEmpAddresses_SubForm
{
	display: inline;
}

/****************************************** GRID ********************************************/

#viewHistAddrMasterGrid
{
	margin: 5px;
	width: 410px;
}

#viewHistAddrMasterGrid .col0 { width: 149px; }
#viewHistAddrMasterGrid .col1 { width: 75px; }
#viewHistAddrMasterGrid .col2 { width: 75px; }
#viewHistAddrMasterGrid .col3 { width: 75px; }