form#AboutCaseman { display: inline; }

#Header_DbScriptsListGrid
{
	width: 950px;
	margin: 5px;
}

#Header_DbScriptsListGrid .col0 { width: 175px; }
#Header_DbScriptsListGrid .col1 { width: 100px; }
#Header_DbScriptsListGrid .col2 { width: 464px; }
#Header_DbScriptsListGrid .col3 { width: 175px; }