form#reprintSuitorsCashReports { display: inline; }

/***************************************** GRIDS ********************************************/

#ReportsGrid { width: 945px; margin: 5px; }
#ReportsGrid .col0 { width: 85px; }
#ReportsGrid .col1 { width: 125px; }
#ReportsGrid .col2 { width: 85px; }
#ReportsGrid .col3 { width: 357px; }
#ReportsGrid .col4 { width: 100px; }
#ReportsGrid .col5 { width: 95px; }
#ReportsGrid .col6 { width: 50px; text-align: center; }

input.gridFooter
{
	width: 70px; 
	margin-right: 5px;
}