td.sectionLabel
{
	width: 60px;
}

td.label
{
	width: 200px;
}

td.reasonLabel
{
	width: 262px;
}

td.spacerLabel
{
	width: 200px;
}

/* Set width of the calculated period drop down */
#Main_CalculatedPeriod
{
	width: 100px;
}

/* Set the width of the zoom field */
#Main_ReasonForDisallowedExpenses
{
	width: 400px;
}

#ProgressIndicator_Popup
{
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -75px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}