form#MaintainCourtSections
{
	display: inline;
}

#Master_Sections_ResultsGrid { width: 350px; }
#Master_Sections_ResultsGrid .col0 { width: 340px; }

div#AddSection_Popup
{
	visibility: hidden;
	position: absolute;
	left: 315px;
	top: 100px;
	width: 330px;
}