/* Form display inline style */
form#manageEvents
{
	display: inline;
}

#Header_ScreenSelectList 
{
	width:220px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#Params_EventType { width: 50px; }
#Params_Mechanism { width: 85px; }
#Params_Action { width: 60px; }
#Params_MaintenanceMode { width: 60px; }
#Params_ObligationType { width: 40px; }
#Params_COMode { width: 100px; }
#Params_EnforcementType { width: 150px; }