form#maintainWarrantRefundsFees 
{
  display: inline;
}

/****************************************** GRID ********************************************/

#Master_WarrantAmountsGrid
{
  margin: 5px;
  width: 460px;
}

#Master_WarrantAmountsGrid .col0 { width: 120px; }
#Master_WarrantAmountsGrid .col1 { width: 10px; text-align: center; }
#Master_WarrantAmountsGrid .col2 { width: 90px; }
#Master_WarrantAmountsGrid .col3 { width: 204px; }


#AmountPopup_NewAmountsGrid
{
  margin: 5px;
  width: 460px;
}

#AmountPopup_NewAmountsGrid .col0 { width: 120px; }
#AmountPopup_NewAmountsGrid .col1 { width: 10px; text-align: center; }
#AmountPopup_NewAmountsGrid .col2 { width: 90px; }
#AmountPopup_NewAmountsGrid .col3 { width: 204px; }

/***************************************** POP-UPS ******************************************/

div#NewAmountPopup
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	margin-left: -240px;
	top: 200px;
	width: 480px;
}

div#NewAmountPopup > table
{
	width: 450px;
}