/*
File Name			    :  ProduceCustomerFileReports.css
Description			    :  
Author	(EDS Net ID)	:  Ahmed Tawfik [ kzgp4h ]
E-mail					:  ahmed.tawfik@eds.com
Date 					:  December 2005
Version 				:  1.0
CR						:  N/A 
Description				:  Construction
======================================================================================================
*/


div#Print_Popup {
	visibility: hidden;
	position: absolute;
	left: 350px;
	top: 338px;
	width: 300px;
	height: 80px;
}