form#ViewWFTExports
{
	display: inline;
}

div#WFT_ExportsGrid
{
	margin: 5px;
	width: 945px;	
}

#Header_OwningCourtCode
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#Header_OwningCourtName
{
	margin-top: 5px;
	margin-bottom: 5px;
}

div#WFT_ExportsGrid .col0 { width: 350px; }
div#WFT_ExportsGrid .col1 { width: 90px; }
div#WFT_ExportsGrid .col2 { width: 472px; }

/**************************** ORACLE REPORT PROGRESS BAR **********************************/

#ProgressIndicator_Popup
{
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -75px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}