#AddDebt_Status { width: 95px; }
#AddDebt_Creditor_Address_CommMethod { width: 65px; } 
#AddDebt_Payee_Address_CommMethod { width: 65px; } 

/* Add debt select Creditor from case */
div#AddDebt_SelectCreditorFromCaseGrid
{
	width: 492px;
	margin: 5px;	
}
div#AddDebt_SelectCreditorFromCaseGrid .col0 { width: 150px; }
div#AddDebt_SelectCreditorFromCaseGrid .col1 { width: 80px; }
div#AddDebt_SelectCreditorFromCaseGrid .col2 { width: 230px; }

/***************************************** POP-UPS ******************************************/

#MaintainDebt_AddCreditorFromCasePopup
{
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -265px;
	margin-top: -150px;
	width: 530px;
}

/************************************* LOV POPUPS *****************************************/

#selectCourtLOV
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}
#selectCourtLOV .col0 { width: 50px; }
#selectCourtLOV .col1 { width: 250px; }

#selectAddDebtCreditorCodedPartyLOV
{
	height: 302px;
	width: 432px;
	left: 50%;
	top: 50%;
	margin-left: -216px;
	margin-top: -151px;
}

#selectAddDebtCreditorCodedPartyLOV .col0 { width: 50px; }
#selectAddDebtCreditorCodedPartyLOV .col1 { width: 310px; }

#selectAddDebtPayeeCodedPartyLOV
{
	height: 302px;
	width: 432px;
	left: 50%;
	top: 50%;
	margin-left: -216px;
	margin-top: -151px;
}

#selectAddDebtPayeeCodedPartyLOV .col0 { width: 50px; }
#selectAddDebtPayeeCodedPartyLOV .col1 { width: 310px; }

#AddDebt_Defendant_LOV
{
	top: 50%;
	left: 50%;
	margin-left: -263px;
	margin-top: -151px;
	width: 526px;
	height: 302px;
}
#AddDebt_Defendant_LOV .col0 { width: 125px; }
#AddDebt_Defendant_LOV .col1 { width: 65px; }
#AddDebt_Defendant_LOV .col2 { width: 260px; }

/************************************* TABS *****************************************/

div#COAddDebtTabbedArea
{
	margin: 0px;
}

div#COAddDebtCreditorPayeePagedArea
{
	margin: 0px;
	height: 320px;
	width: 520px;
}

div.popup table.content
{
	width: 0%;
}