#Header_ScreenType
{
	background-color: #b1c9da; border: 0; font-weight: bold;
}

#Header_Parties
{
	background-color: #b1c9da; border: 0; font-weight: bold;
}

form#enterVariableData 
{ 
	display: inline; 
}

div#scroller_container 
{ 
        position: relative; 
        height: 446px; 
        width: 965px; 
        border: solid black 0px; 
} 

div#scroller 
{ 
        height: 446px; 
        width: 965px; 
        clip:rect(0px 965px 446px 0px); 
        overflow:auto; 
} 

.VisitsGrid
{
	width: 	480px;
	left: 	360px;
	top: 	100px;
}

#VisitsGrid .col0 { width: 90px; }
#VisitsGrid .col1 { width: 40px; }
#VisitsGrid .col2 { width: 350px; }

div#Visits_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 	355px;
	top: 	145px;
	width: 	300px; 
}

.PayeeGrid
{
	width: 	1000px;
	left: 	360px;
	top: 	100px;
}

#PayeeGrid .col0 { width: 50px; }
#PayeeGrid .col1 { width: 50px; }
#PayeeGrid .col2 { width: 50px; }
#PayeeGrid .col3 { width: 50px; }
#PayeeGrid .col4 { width: 50px; }
#PayeeGrid .col5 { width: 50px; }
#PayeeGrid .col6 { width: 50px; }
#PayeeGrid .col7 { width: 50px; }
#PayeeGrid .col8 { width: 50px; }

div#Payee_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 	200px;	
	top: 	5px;
	width: 	570px; 
}

div#JudgmentCourt_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 	355px;
	top: 	100px;
	width: 	375px; 
}

div#HearingDate_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 	100px;
	top: 	165px;
	width: 	640px; 
}

.SelectHearingDateGrid
{
	width: 	720px;
	left: 	90px;
	top: 	165px;
}

#JudgmentCourtCourtsLOVGrid
{
	height: 302px;
	width: 422px;
	top: 50%;
	left: 50%;
	margin-left: -211px;
	margin-top: -151px;
}
#JudgmentCourtCourtsLOVGrid .col0 	{ width: 50px; }
#JudgmentCourtCourtsLOVGrid .col1 	{ width: 300px; }

#TransCourtCourtsLOVGrid
{
	height: 302px;
	width: 422px;
	top: 50%;
	left: 50%;
	margin-left: -211px;
	margin-top: -151px;
}
#TransCourtCourtsLOVGrid .col0 	{ width: 50px; }
#TransCourtCourtsLOVGrid .col1 	{ width: 300px; }

#CourtsLOVGrid
{
	height: 337px;
	width: 422px;
	top: 50%;
	left: 50%;
	margin-left: -211px;
	margin-top: -151px;
}
#CourtsLOVGrid .col0 	{ width: 50px; }
#CourtsLOVGrid .col1 	{ width: 300px; }

#JudgmentCourtCourtsLOVGrid
{
	height: 337px;
	width: 422px;
	top: 50%;
	left: 50%;
	margin-left: -211px;
	margin-top: -151px;
}
#JudgmentCourtCourtsLOVGrid .col0 	{ width: 50px; }
#JudgmentCourtCourtsLOVGrid .col1 	{ width: 300px; }

#OriginatingCourtLOVGrid
{
	height: 337px;
	width: 422px;
	top: 50%;
	left: 50%;
	margin-left: -211px;
	margin-top: -151px;
}
#OriginatingCourtLOVGrid .col0 	{ width: 50px; }
#OriginatingCourtLOVGrid .col1 	{ width: 300px; }

#ReceivingCourtLOVGrid
{
	height: 337px;
	width: 422px;
	top: 50%;
	left: 50%;
	margin-left: -211px;
	margin-top: -151px;
}
#ReceivingCourtLOVGrid .col0 	{ width: 50px; }
#ReceivingCourtLOVGrid .col1 	{ width: 300px; }

#NotServed 				
{	
	width: 200px;
}

#ProcessEnvelopeMark	
{	
	width: 200px;
}

div#SelectVenue_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 850px; 
}

#selectVenue_Address_Grid 	 
{
	margin: 0px;
}
#selectVenue_Address_Grid .col0 
{ 
	width: 125px; 
}
#selectVenue_Address_Grid .col1 
{ 	
	width: 125px; 
}
#selectVenue_Address_GridVerticalScrollbar
{
	height: expression(ScrollbarCalculateHeightId('selectVenue_Address_GridVerticalScrollbar'));
}

div#JudgmentCrt_Popup
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 850px; 
}

#JudgmentCourt_Address_Grid	 
{
	margin: 0px;
}
#JudgmentCourt_Address_Grid .col0 
{ 
	width: 125px; 
}
#JudgmentCourt_Address_Grid .col1 
{ 	
	width: 125px; 
}
#JudgmentCourt_Address_GridVerticalScrollbar
{
	height: expression(ScrollbarCalculateHeightId('JudgmentCourt_Address_GridVerticalScrollbar'));
}

#selectHearingTypeLOV 
{
	width: 750px;
	left: 120px;
	top: 40px; 
}
#selectHearingTypeLOV .col0 
{	
	width: 300px; 
}
#selectHearingTypeLOV .col1 
{	
	width: 450px; 
}

#Header_PartyTypeListGrid 		{	margin: 0px;}
#Header_PartyTypeListGrid .col0 { width: 180px; }
#Header_PartyTypeListGrid .col1 { width: 180px; }
#Header_PartyTypeListGrid .col2 { width: 180px; }

#DocsFiledBy 	   { margin: 0px; }
#DocsFiledBy .col0 { width: 110px; }
#DocsFiledBy .col1 { width: 50px; }
#DocsFiledBy .col2 { width: 157px; }

#PartyWNPPOS	   { margin: 0px; }
#PartyWNPPOS .col0 { width: 110px; }
#PartyWNPPOS .col1 { width: 50px; }
#PartyWNPPOS .col2 { width: 157px; }

#PartyOn 		   { margin: 0px; }
#PartyOn .col0 	   { width: 110px; }
#PartyOn .col1 	   { width: 50px; }
#PartyOn .col2 	   { width: 157px; }

#PartyFor 		   { margin: 0px; }
#PartyFor .col0 	   { width: 100px; }
#PartyFor .col1 	   { width: 100px; }

#PartyApplied 		   	{ margin: 0px; }
#PartyApplied .col0 	{ width: 110px; }
#PartyApplied .col1 	{ width: 50px; }
#PartyApplied .col2 	{ width: 157px; }

#PartyToPayFee686 		   	{ margin: 0px; width: 350px; }
#PartyToPayFee686 .col0 	{ width: 110px; }
#PartyToPayFee686 .col1 	{ width: 50px; }
#PartyToPayFee686 .col2 	{ width: 157px; }

#PartyToPayLQHearingFee 		{ margin: 0px; width: 350px; }
#PartyToPayLQHearingFee .col0 	{ width: 110px; }
#PartyToPayLQHearingFee .col1 	{ width: 50px; }
#PartyToPayLQHearingFee .col2 	{ width: 157px; }

div#SelectHearing_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	margin-left: -325px;
	top:	77px;
	width:	650px; 
}

#JudgmentSelection			{ margin: 0px; }
#JudgmentSelection .col0	{ width: 100px; } 
#JudgmentSelection .col1	{ width: 120px; }
#JudgmentSelection .col2	{ width: 40px; }
#JudgmentSelection .col3	{ width: 70px; }
#JudgmentSelection .col4	{ width: 90px; }

#SelectHearingGrid 		   	{ margin: 0px; }
#SelectHearingGrid .col0 	{ width: 60px; }
#SelectHearingGrid .col1 	{ width: 90px; }
#SelectHearingGrid .col2 	{ width: 170px; }
#SelectHearingGrid .col3 	{ width: 75px; }
#SelectHearingGrid .col4 	{ width: 50px; }
#SelectHearingGrid .col5 	{ width: 85px; }

div#SelectHearingDate_Popup 
{
	visibility: hidden;
	position: absolute;
	left:	30px;
	top:	30px;
	width: 480px; 
}

#SelectHearingDateGrid 		   	{ margin: 0px; }
#SelectHearingDateGrid .col0 	{ width: 40px; }
#SelectHearingDateGrid .col1 	{ width: 75px; }
#SelectHearingDateGrid .col2 	{ width: 150px; }
#SelectHearingDateGrid .col3 	{ width: 75px; }
#SelectHearingDateGrid .col4 	{ width: 40px; }
#SelectHearingDateGrid .col5 { width: 210px; }


#PartyRecN243B 		   	{ margin: 0px; }
#PartyRecN243B .col0 	{ width: 120px; }
#PartyRecN243B .col1 	{ width: 75px; }
#PartyRecN243B .col2 	{ width: 200px; }

.HearingAttendees{ 
height: 100px; 
width: 590px; 
overflow: scroll; 
border-left: 2px gray inset;
border-right: 2px gray inset;
border-bottom: 2px gray inset;
}

.HearingAttendeesDisabled{ 
height: 100px; 
width: 590px; 
overflow: scroll; 
border-left: 2px gray inset;
border-right: 2px gray inset;
border-bottom: 2px gray inset;
background-color: threedface;
color: gray;

}

.HearingAttendeesHead
{
  width: 590px;
  border: 2px gray inset;  
}

.HearingAttendeesHeadDisabled
{
  width: 590px;
  border: 2px gray inset;  
  background-color: threedface;
  color: gray;
}


#HearingAttendeesCol1{ width:189px;}
#HearingAttendeesCol2{ width:77px;}
#HearingAttendeesCol3{ width:77px;}
#HearingAttendeesCol4{ width:77px;}
#HearingAttendeesCol5{ width:77px;}
#HearingAttendeesCol6{ width:77px;}


#COAttendeesCol1{ width:187px;}
#COAttendeesCol2{ width:40px;}
#COAttendeesCol3{ width:60px;}
#COAttendeesCol4{ width:70px;}
#COAttendeesCol5{ width:80px;}
#COAttendeesCol6{ width:80px;}
#COAttendeesCol7{ width:189px;}


#COAttendees{ 
height: 100px; 
width: 750px; 
overflow: scroll; 
border-left: 2px gray inset;
border-right: 2px gray inset;
border-bottom: 2px gray inset;
}

#COAttendees .COAttendeesDisabled
{
background-color: threedface;
color: gray;
}

#COAttendeesHead
{
  width: 750px;
  border: 2px gray inset;  
}


div#TransCourt_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 850px; 
}


div#SelectAltHearingVenue_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 850px; 
}

#AltCourtCourtsLOVGrid
{
	height: 337px;
	width: 422px;
	top: 50%;
	left: 50%;
	margin-left: -211px;
	margin-top: -151px;
}
#AltCourtCourtsLOVGrid .col0 	{ width: 50px; }
#AltCourtCourtsLOVGrid .col1 	{ width: 300px; }

#ApplicationParty	    { margin: 0px; width:190px; }
#ApplicationParty .col0 { width: 110px; }
#ApplicationParty .col1 { width: 50px; }

#PartyMakingApp	      { margin: 0px;  }
#PartyMakingApp .col0 { width: 120px; }
#PartyMakingApp .col1 { width: 225px; }

#WhoseApplication	   { margin: 0px; }
#WhoseApplication .col0 { width: 110px; }
#WhoseApplication .col1 { width: 50px; }
#WhoseApplication .col2 { width: 157px; }

#PartySeekingOrder	   { margin: 0px; width:190px; }
#PartySeekingOrder .col0 { width: 110px; }
#PartySeekingOrder .col1 { width: 50px; }

#DefMakingApp	   { margin: 0px; width:190px; }
#DefMakingApp .col0 { width: 110px; }
#DefMakingApp .col1 { width: 50px; }


#TransCourt_Address_Grid 	 
{
	margin: 0px;
}
#TransCourt_Address_Grid .col0 
{ 
	width: 125px; 
}
#TransCourt_Address_Grid .col1 
{ 	
	width: 125px; 
}

#AltHearing_Address_Grid 	 
{
	margin: 0px;
}
#AltHearing_Address_Grid .col0 
{ 
	width: 125px; 
}
#AltHearing_Address_Grid .col1 
{ 	
	width: 125px; 
}

#Article	   { margin: 0px; width:280px;}
#Article .col0 { width: 280px; }

#Protocol	   { margin: 0px; width:230px;}
#Protocol .col0 { width: 230px; }


#PartiesFailedToFile 		{ margin: 0px; width: 350px;}
#PartiesFailedToFile .col0 	{ width: 110px; }
#PartiesFailedToFile .col1 	{ width: 50px; }
#PartiesFailedToFile .col2 	{ width: 157px; }

#Part20Clmnt 		{ margin: 0px; width: 350px;}
#Part20Clmnt .col0 	{ width: 110px; }
#Part20Clmnt .col1 	{ width: 50px; }
#Part20Clmnt .col2 	{ width: 157px; }

#Part20Defndt 		{ margin: 0px; width: 350px;}
#Part20Defndt .col0 	{ width: 110px; }
#Part20Defndt .col1 	{ width: 50px; }
#Part20Defndt .col2 	{ width: 157px; }


#Solicitor	   { margin: 0px; width:450px; }
#Solicitor .col0 { width: 450px; }


#SelectHearingDate	   { margin: -2px;}

.wphidecaldropdown  
{
	position: absolute;
	display: none;
	width: 100%;
	background: InfoBackground;
	left: 0px;
}


#progressbar_subform
{
	left: 50%;
	top: 50%;
	margin-left: -425px;
	margin-top: -176px;
	width: 850px;
	height: 352px;
}
