form#runOrderPrinting
{
	display: inline;
}

#Outputs_Popup
{
	visibility: hidden;
	position: absolute;
	width: 451px;
	height: 450px;
	left: 50%;
	top: 50%;
	margin-left: -226px;
	margin-top: -225px;
}

#PrintableOutputs_Grid .col0 { width: 16px; }
#PrintableOutputs_Grid .col1 { width: 125px; }
#PrintableOutputs_Grid .col2 { width: 125px; }
#PrintableOutputs_Grid .col3 { width: 125px; }

#PrintableOutputs_Grid .openOutputClass .col0
{
	background: url('../caseman_wp/WordProcessor/wordprocessing/images/buttons/acrobat-icon.gif') center left no-repeat;
}