
form#maintainLocalCodedParties
{
	display: inline;
}

input.cpbutton
{
	width: 80px;
	margin-right: 5px;
}

/****************************************** GRID ********************************************/

#Results_ResultsGrid
{
	margin: 5px;
	width: 945px;
}

#Results_ResultsGrid .col0 { width: 50px; }
#Results_ResultsGrid .col1 { width: 225px; }
#Results_ResultsGrid .col2 { width: 275px; }
#Results_ResultsGrid .col3 { width: 275px; }
#Results_ResultsGrid .col4 { width: 80px; }

/************************************** SUBFORMS ******************************************/

#maintainLocalCodedParty_subform
{
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -197px;
	height: 395px;
	width: 600px;
}