form#QueryByPartyCase
{
	display: inline;
}

#Header_PartyType_Sel { width: 200px; }
#Header_OwningCourtName 
{ 
	width: 200px;
	margin-top:5px;
}

#Results_ResultsGrid { margin: 5px; }
#Results_ResultsGrid .col0 { width: 100px; }
#Results_ResultsGrid .col1 { width: 150px; }
#Results_ResultsGrid .col2 { width: 200px; }
#Results_ResultsGrid .col3 { width: 150px; }
#Results_ResultsGrid .col4 { width: 153px; }
#Results_ResultsGrid .col5 { width: 153px; }

#OwningCourtLOV
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}


td.qbpLabel
{
	width: 400px;
}
.noPad
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}