/*
File Name			:QueryRejectedCases.css
Description			:
Owner	(EDS Net ID)	:Hassan F Elhalafawy (vz618c)
Modification History	:
================================================================================
                         	Prior
Date              EDS Net ID        	      					 Version    CR      Description
----------        ----------------------------------		 --------     ------- -------------------------------
06-06-2005  Ahmed Badr             					  1.0a        N/A     Created
15-06-2005  Hassan F Elhalafawy (vz618c)   1.0b        N/A     Modified    
================================================================================
*/
#Tabs_Defendant_Grid{
	width: 50%;
}
#Tabs_Defendant_Grid .col0{
	width: 30%;
}

#Tabs_Defendant_Grid .col1{
	width: 68%;
}

#Main_Zoom_Btn
{
	visibility: hidden;
}
#Tabs_Claimant_Email_Txt
{
		width: 200px;
}
#Tabs_Email_Txt
{
		width: 200px;
}
#Tabs_Defendant_Email_Txt
{
		width: 200px;
}
