form#runDividendDeclaration { display: inline; }

/***************************************** GRIDS ********************************************/

#PageOne_ConsolidatedOrderGrid { width: 945px; margin: 5px; }
#PageOne_ConsolidatedOrderGrid .col0 { width: 150px; }
#PageOne_ConsolidatedOrderGrid .col1 { width: 370px; }
#PageOne_ConsolidatedOrderGrid .col2 { width: 10px; text-align: center; }
#PageOne_ConsolidatedOrderGrid .col3 { width: 175px; }
#PageOne_ConsolidatedOrderGrid .col4 { width: 200px; }

/***************************************** POP-UPS ******************************************/

div#AddNewConsolidatedOrder_Popup
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -175px;
	margin-top: -42px;
	width: 350px;
	height: 75px;
}