form#changeCaseTypeSubform
{
	display: inline;
}

/* Set width of Change Case Type Autocomplete field */
#ChangeCaseType_NewCaseType
{
	width: 200px;
}

/* Change Case Type LOV Grid */
#ChangeCaseType_NewCaseTypeLOVGrid
{
	top: 10px;
	width: 672px;
	left: 50%;
	margin-left: -336px;
}

#ChangeCaseType_NewCaseTypeLOVGrid .col0 { width: 200px; }
#ChangeCaseType_NewCaseTypeLOVGrid .col1 { width: 400px; }




























