form#maintainNonWorkingDays
{
	display: inline;
}

#Master_NonWorkingDaysGrid
{
	margin: 5px;
	width: 950px;
}

#Master_NonWorkingDaysGrid .col0 { width: 100px; }
#Master_NonWorkingDaysGrid .col1 { width: 150px; }
#Master_NonWorkingDaysGrid .col2 { width: 100px; }
#Master_NonWorkingDaysGrid .col3 { width: 564px; }

#addNewNonWorkingDay_subform
{
	width: 600px;
	height: 234px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -117px;
}