/***************************************** POP-UPS ******************************************/

div#Warrant_Details_Popup
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 350px;
	height: 280px;
	margin-left: -175px;
	margin-top: -149px;
}

/***************************************** LOV POP-UPS **************************************/

#WarrantTypeLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

#WarrantTypeLOVGrid .col0 { width: 100px; }
#WarrantTypeLOVGrid .col1 { width: 200px; }

/**********************************************************************************************/

#CourtsLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

/****************************************** GRIDS ********************************************/

#ClaimantsGrid
{
	margin: 0px;
	width: 310px;
}

#ClaimantsGrid .col0 { width: 50px; }
#ClaimantsGrid .col1 { width: 70px; }
#ClaimantsGrid .col2 { width: 158px; }

/**********************************************************************************************/

#DefendantsGrid
{
	margin: 0px;
	width: 310px;
}

#DefendantsGrid .col0 { width: 50px; }
#DefendantsGrid .col1 { width: 70px; }
#DefendantsGrid .col2 { width: 158px; }

/**********************************************************************************************/

#JudgmentPopup_Grid
{
	margin: 0px;
	width: 500px;
}

#JudgmentPopup_Grid .col0 { width: 260px; }
#JudgmentPopup_Grid .col1 { width: 210px; }

/****************************************** FIELDS ********************************************/

#Header_WarrantType { width: 173px; }
#Header_WarrantType .input { width: 149px; }

#Header_IssuedByCourtName { width: 173px; }
#Header_IssuedByCourtName .input { width: 149px; }

#ExecutingCourtName { width: 173px; }
#ExecutingCourtName .input { width: 149px; }