/* Form display inline style */
form#caseManMenu
{
	display: inline;
}

/* Forms grid */
#Detail_FormsGrid { margin: 5px; }
#Detail_FormsGrid .col0 { width: 926px; }

/* Different form styles for grid rows */
.form
{
	font-weight: bold;
	text-decoration: none;
}

.normal
{
	text-decoration: none;
}