form#maintainNationalCodedPartySubform
{
	display: inline;
}

td.payeeBankLabel
{
	width: 175px;
}

/***************************************** TABS ********************************************/

div#myTabbedArea
{
	margin: 0px;
}

div#myPagedArea
{
	margin: 0px;
	height: 330px;
	width: 575px;
}