/***** Specific Field Widths *******/

#Header_EnforcementType { width: 140px; }
#Payment_Type { width: 200px;}
#Payment_RetentionType { width: 200px;}

td.headerLabel { width:200px; }
td.paymentLabel { width:115px; }

/************** Grids **************/

#Parties_Grid 
{ 
	width: 611px; 
	margin:5px; 
}
#Parties_Grid .col0 { width: 160px; }
#Parties_Grid .col1 { width: 47px; }
#Parties_Grid .col2 { width: 372px; }

/************ LOV Grids ************/

#Lov_SearchResults {
	top: 100px;
	left: 135px;
	width: 700px;
}
#Lov_SearchResults .col0 { width: 120px; }
#Lov_SearchResults .col1 { width: 160px; }
#Lov_SearchResults .col2 { width: 344px; }

#Lov_Lodgment 
{
	top: 100px;
	left: 235px;
	width: 500px;
}
#Lov_Lodgment .col0 { width: 130px; }
#Lov_Lodgment .col1 { width: 298px; }

#Lov_Payee 
{
	top: 100px;
	left: 185px;
	width: 600px;
}
#Lov_Payee .col0 { width: 32px; }
#Lov_Payee .col1 { width: 161px; }
#Lov_Payee .col2 { width: 331px; }


div#CaseMan_AsyncMonitorPopup
{
	top: 200px;
	left: 380px;
}

tr.hearing_header
{
  background-color: #b1c9ba;
  border-bottom: 3px solid black;
}

td.hearing_heading
{
  font-size: 14pt;
  font-weight: normal;
}

.popup_header
{
	border: solid 0 #060; 
	border-bottom-width:2px; 
	padding-left:0.5ex;
	background-color:#b1c9ba;
}