form#obsoleteCaseTypeSubform
{
	display: inline;
}

/* Set width of Obsolete Case Type Autocomplete field */
#ObsoleteCaseType_NewCaseType
{
	width: 200px;
}

/* Obsolete Case Type LOV Grid */
#ObsoleteCaseType_NewCaseTypeLOVGrid
{
	top: 10px;
	width: 672px;
	left: 50%;
	margin-left: -336px;
}

#ObsoleteCaseType_NewCaseTypeLOVGrid .col0 { width: 200px; }
#ObsoleteCaseType_NewCaseTypeLOVGrid .col1 { width: 400px; }




























