/* Form display inline style */
form#transferCase
{
	display: inline;
}

/* Set width of Transfer Court Autocomplete field */
#TransferCase_TransferCourtName { width: 215px; }

/* Set width of Reason for Transfer Autocomplete field */
#TransferCase_TransferReason { width: 425px; }

/* Set width of New Case Type Autocomplete field */
#TransferCase_NewCaseType { width: 265px; }

/* Transfer Field Label */
#TransferCaseLabel { width: 200px; }

/****************************************** GRID ********************************************/

#Header_PartyTypeListGrid
{
	margin: 5px;
}

#Header_PartyTypeListGrid .col0 { width: 110px; }
#Header_PartyTypeListGrid .col1 { width: 50px; }
#Header_PartyTypeListGrid .col2 { width: 157px; }

/************************************* LOV POPUPS *****************************************/

#TransferCase_TransferCourtLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

#TransferCase_TransferReasonLOVGrid
{
	height: 302px;
	width: 647px;
	left: 50%;
	top: 50%;
	margin-left: -323px;
	margin-top: -151px;
}

#TransferCase_NewCaseTypeLOVGrid
{
	height: 302px;
	width: 672px;
	left: 50%;
	top: 50%;
	margin-left: -336px;
	margin-top: -151px;
}