
td.detailsLabel { width: 200px; }

/***************************************** POP-UPS ******************************************/

div#NewReturnCode_Popup
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 180px;
	width: 450px;
	margin-left: -225px;
	margin-top: -90px;
}

/***************************************** LOV POP-UPS **************************************/

#ClassesLOVGrid
{
	height: 300px;
	width: 432px;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -216px;
}

#ClassesLOVGrid .col0 { width: 60px; }
#ClassesLOVGrid .col1 { width: 300px; }

/****************************************** GRIDS ********************************************/

div#MasterGrid
{
	width: 434px;
	margin: 5px;
}

div#MasterGrid .col0 { width: 40px; }
div#MasterGrid .col1 { width: 178px; }
div#MasterGrid .col2 { width: 60px; }
div#MasterGrid .col3 { width: 68px; }
div#MasterGrid .col4 { width: 48px; }

/****************************************** FIELDS ********************************************/

#ReturnCode_Class
{
	width: 250px;
}

#ReturnCode_Description
{
	width: 256px;
}

#NewReturnCode_Type
{
	width: 200px;
}

#NewReturnCode_Class
{
	width: 256px;
}

#NewReturnCode_Description
{
	width: 256px;
}