form#enterVariableData 
{ 
	display: inline; 
}

div#scroller_container 
{ 
        position: relative; 
        height: 440px; 
        width: 953px; 
        border: solid black 0px; 
}

div#scroller 
{ 
        height: 440px; 
        width: 953px; 
        clip:rect(0px 953px 440px 0px); 
        overflow:auto; 
} 

form#OracleReportForm 
{
  display: inline;
}

#title
{
  text-align: left;
  font-size: 17px;
  font-weight: bold;
}


table .headercontent 
{
  height: 20px;
  width: 953px;
}

table .contentcontent 
{
  height: 437px;
  width: 953px;
}

table .contentcontentco 
{
  height: 490px;
  width: 953px;
}

table .rel3paramcontent 
{
  height: 540px;
  width: 953px;
  margin-bottom: 10px;
}

table .rel5noparamcontent 
{
  height: 442px;
  width: 953px;
}

table .rel5noparamcontentco 
{
  height: 490px;
  width: 953px;
}

td .alignRight 
{
  width: 50%;
  text-align: right;
}

td .alignLeft 
{
  width: 50%;
  text-align: left;
}

td .alignCentre 
{
  width: 100%;
  text-align: center;
}

#WarrantTypeLOVGrid
{
	width: 680px;
	left: 150px;
	top: 100px;
}
#WarrantTypeLOVGrid .col0
{
	width: 200px;
}
#WarrantTypeLOVGrid .col1
{
	width: 400px;
}

#DefendantID {
	width: 100px;
}

#Header_PartyTypeListGrid 		{	margin: 0px;}
#Header_PartyTypeListGrid .col0 { width: 110px; }
#Header_PartyTypeListGrid .col1 { width: 50px; }
#Header_PartyTypeListGrid .col2 { width: 157px; }


#WhetherTheOrderHasBeenSubmittedLOVGrid
{
	width: 680px;
	left: 150px;
	top: 100px;
}
#WhetherTheOrderHasBeenSubmittedLOVGrid .col0
{
	width: 200px;
}
#WhetherTheOrderHasBeenSubmittedLOVGrid .col1
{
	width: 400px;
}

#TransferReasonLOVGrid
{
	width:  380px;
	left:   150px;
	top:    100px;
	height: 300px
}
#TransferReasonLOVGrid .col0
{
	width:  100px;
}
#TransferReasonLOVGrid .col1
{
	width:  200px;
}

#NewPartyToBeSubstitutedLOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}
#NewPartyToBeSubstitutedLOVGrid .col0
{
	width:  150px;
}
#NewPartyToBeSubstitutedLOVGrid .col1
{
	width:  250px;
}

#PartyMakingTheApplicationLOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}
#PartyMakingTheApplicationLOVGrid .col0
{
	width:  150px;
}
#PartyMakingTheApplicationLOVGrid .col1
{
	width:  250px;
}

#PartyWhoHasDiscontinuedAClaimLOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}
#PartyWhoHasDiscontinuedAClaimLOVGrid .col0
{
	width:  150px;
}
#PartyWhoHasDiscontinuedAClaimLOVGrid .col1
{
	width:  250px;
}



#ReasonThatClaimIsReferredLOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}
#ReasonThatClaimIsReferredLOVGrid .col0
{
	width:  150px;
}
#ReasonThatClaimIsReferredLOVGrid .col1
{
	width:  250px;
}


#OwningCourt_LOVGrid
{
	width: 380px;
	left: 300px;
	top: 100px;
}

#OwningCourt_LOVGrid .col0
{
	width: 50px;
}

#OwningCourt_LOVGrid .col1
{
	width: 250px;
}

#OwningCourt2_LOVGrid
{
	width: 380px;
	left: 300px;
	top: 100px;
}

#OwningCourt2_LOVGrid .col0
{
	width: 50px;
}

#OwningCourt2_LOVGrid .col1
{
	width: 250px;
}

#HearingAttendeesLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#HearingAttendeesLOVGrid .col0
{
	width: 650px;
}

#HasTheClaimantAcceptedTheSumLOVGrid
{
	width:  480px;	
	left:   150px;	
	top:    100px;	
	height: 300px
}

#HasTheClaimantAcceptedTheSumLOVGrid .col0
{	
	width:  150px;
}
#HasTheClaimantAcceptedTheSumLOVGrid .col1
{	
	width:  250px;
}

#DirectionsForFundsThatLOVGrid
{	
	width:  480px;	
	left:   150px;	
	top:    100px;	
	height: 300px
}

#DirectionsForFundsThatLOVGrid .col0
{	
	width:  150px;
}

#DirectionsForFundsThatLOVGrid .col1
{	
	width:  250px;
}

#WhoIsTheDocumentToBeServedOnLOVGrid
{	
	width:  480px;	
	left:   150px;	
	top:    100px;	
	height: 300px
}

#WhoIsTheDocumentToBeServedOnLOVGrid .col0
{	
	width:  150px;
}

#WhoIsTheDocumentToBeServedOnLOVGrid .col1
{	
	width:  250px;
}

#WhoIsToBeServedLOVGrid
{	
	width:  480px;	
	left:   150px;	
	top:    100px;	
	height: 300px
}

#WhoIsToBeServedLOVGrid .col0
{	
	width:  150px;
}

#WhoIsToBeServedLOVGrid .col1
{
	width:  250px;
}

#AppealLodgedPartyLOVGrid
{
	width:	300px;
	height:	100px;
	left:   340px;
}

#AppealLodgedPartyLOVGrid .col0
{
	width:	60px;
}

#AppealLodgedPartyLOVGrid .col1
{
	width:	140px;
}

#ReasonForReferralLOVGrid
{
	width:	600px;
	height:	305px;
	left:   250px;
}

#ReasonForReferralLOVGrid .col0
{
	width:	60px;
}

#ReasonForReferralLOVGrid .col1
{
	width:	450px;
}

#WhoFailedToLodgeQuestionnaireLOVGrid
{
	width:	300px;
	height:	305px;
	left:   340px;
}

#WhoFailedToLodgeQuestionnaireLOVGrid .col0
{
	width:	60px;
}

#WhoFailedToLodgeQuestionnaireLOVGrid .col1
{
	width:	140px;
}

#PartyMakingTheApplication2LOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}

#PartyMakingTheApplication2LOVGrid .col0
{
	width:  150px;
}

#PartyMakingTheApplication2LOVGrid .col1
{
	width:  250px;
}

#PartyMakingTheApplication3LOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}

#PartyMakingTheApplication3LOVGrid .col0
{
	width:  150px;
}

#PartyMakingTheApplication3LOVGrid .col1
{
	width:  250px;
}

#PartyMakingTheApplication4LOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}

#PartyMakingTheApplication4LOVGrid .col0
{
	width:  150px;
}

#PartyMakingTheApplication4LOVGrid .col1
{
	width:  250px;
}

#ReferralReasonLOVGrid
{
	width:	600px;
	height:	300px;
	left: 50%;
	margin-left: -300px;
}

#ReferralReasonLOVGrid .col0
{
	width:	60px;
}

#ReferralReasonLOVGrid .col1
{
	width:	460px;
}

#HasPart20ClaimantSettledJudgmentLOVGrid
{
	width:	300px;
	height:	300px;
	left: 50%;
	margin-left: -150px;
}

#HasPart20ClaimantSettledJudgmentLOVGrid .col0
{
	width:	60px;
}

#HasPart20ClaimantSettledJudgmentLOVGrid .col1
{
	width:	165px;
}

#HasDefaultJudgmentBeenEnteredLOVGrid
{
	width:	300px;
	height:	60px;
	left:   340px;
}

#HasDefaultJudgmentBeenEnteredLOVGrid .col0
{
	width:	60px;
}

#HasDefaultJudgmentBeenEnteredLOVGrid .col1
{
	width:	140px;
}

#ServiceToBeDispensedOnLOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}

#ServiceToBeDispensedOnLOVGrid .col0
{
	width:  150px;
}

#ServiceToBeDispensedOnLOVGrid .col1
{
	width:  250px;
}


#selectVenue_Address_Grid 	 
{
	margin: 0px;
}
#selectVenue_Address_Grid .col0 
{ 
	width: 125px; 
}
#selectVenue_Address_Grid .col1 
{ 	
	width: 125px; 
}
#selectVenue_Address_GridVerticalScrollbar
{
	height: expression(ScrollbarCalculateHeightId('selectVenue_Address_GridVerticalScrollbar'));
}

#CourtsLOVGrid
{
	width: 380px;
	left: 300px;
	top: 75px;
}

#CourtsLOVGrid .col0
{
	width: 50px;
}

#CourtsLOVGrid .col1
{
	width: 250px;
}


#selectVenue_Address_Grid 2	 
{
	margin: 0px;
}
#selectVenue_Address_Grid2 .col0 
{ 
	width: 125px; 
}
#selectVenue_Address_Grid2 .col1 
{ 	
	width: 125px; 
}
#selectVenue_Address_GridVerticalScrollbar
{
	height: expression(ScrollbarCalculateHeightId('selectVenue_Address_GridVerticalScrollbar'));
}

#CourtsLOVGrid2
{
	width: 380px;
	left: 300px;
	top: 100px;
}

#CourtsLOVGrid2 .col0
{
	width: 50px;
}

#CourtsLOVGrid2 .col1
{
	width: 250px;
}

#SelectHearingGrid 		   	
{ 
	width: 500px;	
	left: 300px;	
	top: 100px;
	margin: 0px;
}
#SelectHearingGrid .col0 	{ width: 75px; }
#SelectHearingGrid .col1 	{ width: 75px; }
#SelectHearingGrid .col2 	{ width: 150px; }
#SelectHearingGrid .col3 	{ width: 75px; }
#SelectHearingGrid .col4 	{ width: 50px; }


#SelectOffenceDetailsLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#SelectOffenceDetailsLOVGrid .col0
{
	width: 650px;
}


#SelectOrderDetailsLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#SelectOrderDetailsLOVGrid .col0
{
	width: 650px;
}

#ADescriptionOfTheDefendantLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 100px
}

#ADescriptionOfTheDefendantLOVGrid .col0
{
	width: 40px;
}

#ADescriptionOfTheDefendantLOVGrid .col1
{
	width: 650px;
}

#AppropriateEmploymentDetailsLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 100px
}

#AppropriateEmploymentDetailsLOVGrid .col0
{
	width: 650px;
}

#DismissalDetailsLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#DismissalDetailsLOVGrid .col0
{
	width: 650px;
}

#OtherDirectionsOptionLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#OtherDirectionsOptionLOVGrid .col0
{
	width: 650px;
}

#ApplicationPartiesLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#ApplicationPartiesLOVGrid .col0
{
	width: 100px;
}

#ApplicationPartiesLOVGrid .col1
{
	width: 550px;
}

#ItemDetailsLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#ItemDetailsLOVGrid .col0
{
	width: 650px;
}

#DetailsOfAllegedOffenceLOVGrid
{
	width: 780px;
	left: 120px;
	top: 130px;
	height: 320px
}

#DetailsOfAllegedOffenceLOVGrid .col0
{
	width: 650px;
}

#Q_AppropriateEmploymentDetails
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 100px
}

#Q_AppropriateEmploymentDetails .col0
{
	width: 80px;
}

#Q_AppropriateEmploymentDetails .col1
{
	width: 650px;
}

div#SelectHearing_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 565px; 
}
	
div#SelectVenue_Popup 
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 850px; 
}

div#SelectVenue_Popup2 
{
	visibility: hidden;
	position: absolute;
	left: 30px;
	top: 30px;
	width: 850px; 
}

#PaymentDetailsLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#PaymentDetailsLOVGrid .col0
{
	width: 650px;
}

#OrderTextLOVGrid
{
	width: 780px;
	left: 120px;
	top: 100px;
	height: 300px
}

#OrderTextLOVGrid .col0
{
	width: 650px;
}

#PartyLOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}
#PartyLOVGrid .col0
{
	width:  150px;
}
#PartyLOVGrid .col1
{
	width:  250px;
}

#PartyWhoHasNotPaidFeeLOVGrid
{
	width:  480px;
	left:   150px;
	top:    100px;
	height: 300px
}
#PartyWhoHasNotPaidFeeLOVGrid .col0
{
	width:  150px;
}
#PartyWhoHasNotPaidFeeLOVGrid .col1
{
	width:  250px;
}

#PaymentPeriodLOVGrid
{
	width:	300px;
	height:	60px;
	left:   340px;
}

#PaymentPeriodLOVGrid .col0
{
	width:	60px;
}

#PaymentPeriodLOVGrid .col1
{
	width:	140px;
}

#ProgressIndicator_Popup
{
	width: 430px;
	height:150px;
	top: 150px;
	left: 275px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}

div#CaseMan_AsyncMonitorPopup
{
	top: 200px;
	left: 380px;
}

tr.hearing_header
{
  background-color: #b1c9ba;
  border-bottom: 3px solid black;
}

td.hearing_heading
{
  font-size: 14pt;
  font-weight: normal;
}

.popup_header
{
	border: solid 0 #060; 
	border-bottom-width:2px; 
	padding-left:0.5ex;
	background-color:#b1c9ba;
}