form#PrintVariationOrder
{
	display: inline;
}


div#Defendants_ResultsGrid
{
	margin: 5px;
	width: 605px;	
}

td#right_td
{
   text-align: right;
}

td#right_td2
{
   text-align: right;
}
div#Defendants_ResultsGrid .col0 { width: 150px; }
div#Defendants_ResultsGrid .col1{ width: 112px; }
div#Defendants_ResultsGrid .col2 { width: 280px; }
div#Defendants_ResultsGrid .col3 { width: 25px; }

.h_thirty_three
{
  height: 33pc;
}
.forty
{
  width: 40pc;
}
.thirty
{
  width: 30pc;
}