
form#runOrderPrinting
{
	display: inline;
}

/************************************* POPUPS *****************************************/

#Cases_Popup
{
	width: 450px;
	left: 250px;
	top: 120px;
}

#CasesPopup_Grid
{
	margin: 5px;
	width: 450px;
}

#CasesPopup_Grid .col0
{
	width: 410px;
}

#Outputs_Popup
{
	visibility: hidden;
	position: absolute;
	left: 50px;
	top: 50px;
	width: 880px;
	height: 460px;
}

div#Outputs_Popup_Content
{
	height: 400px;
	overflow: scroll;
}