form#failedOvernightTransfers
{
	display: inline;
}

#Master_FailedTransfersGrid
{
	margin: 5px;
	width: 950px;
}

#Master_FailedTransfersGrid .col0 { width: 150px; }
#Master_FailedTransfersGrid .col1 { width: 150px; }
#Master_FailedTransfersGrid .col2 { width: 307px; }
#Master_FailedTransfersGrid .col3 { width: 307px; }