/***************************************** POP-UPS ******************************************/

div#Warrant_Details_Popup
{
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 350px;
	height: 278px;
	margin-left: -175px;
	margin-top: -139px;
}

/***************************************** LOV POP-UPS **************************************/

#CodedPartyLOVGrid
{
	height: 302px;
	width: 432px;
	left: 50%;
	top: 50%;
	margin-left: -216px;
	margin-top: -151px;
}

#WarrantTypeLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

#WarrantTypeLOVGrid .col0 { width: 100px; }
#WarrantTypeLOVGrid .col1 { width: 200px; }

#CourtsLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

#SUPSCourtsLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

/****************************************** FIELDS ********************************************/

#Header_ExecutingCourtName { width: 173px; }
#Header_ExecutingCourtName .input { width: 149px; }

#Header_IssuedByCourtName { width: 173px; }
#Header_IssuedByCourtName .input { width: 149px; }

#Header_WarrantType { width: 173px; }
#Header_WarrantType .input { width: 149px; }