form
{
	display: inline;
}

#HearingDetails_HearingOutcome
{
	width: 325px;
}

/****************************************** GRID ********************************************/

#Header_PartyTypeListGrid
{
	margin: 5px;
	width: 350px;	
}

#Header_PartyTypeListGrid .col0 { width: 110px; }
#Header_PartyTypeListGrid .col1 { width: 50px; }
#Header_PartyTypeListGrid .col2 { width: 158px; }

#Master_HearingsListGrid
{
	margin: 5px;
	width: 350px;
}

#Master_HearingsListGrid .col0 { width: 160px; }
#Master_HearingsListGrid .col1 { width: 75px; }
#Master_HearingsListGrid .col2 { width: 82px; }

/************************************* LOV POPUPS *****************************************/

#selectHearingOutcomeLOV
{
	height: 302px;
	width: 512px;
	left: 50%;
	top: 50%;
	margin-left: -256px;
	margin-top: -151px;	
}

/************************************* ADD HEARING SUBFORM **********************************/

#addHearing_subform
{
	top: 50%;
	left: 50%;
	margin-left: -415px;
	margin-top: -214px;
	width: 830px;
	height: 427px;
}