td#master {
	height: 508px; 
	width: 95%;
}

td#colored {
	background-color: #ececd9;
}

td#label {
	width: 125px;
}

#Customer_Popup_LOV {
		width: 600px;
		left: 250px;
		top: 200px;
}

#Customer_Popup_LOV .col0  {
	width: 10%;
}

#Customer_Popup_LOV .col1 {
	width: 88%;
}

#Query_Customer_Popup_LOV {
	visibility: hidden;
	position: absolute;
	width: 600px;
	left: 201px;
	top: 160px;
}

#Query_Customer_Popup_LOV .col0 {
	width: 10%;
}

#Query_Customer_Popup_LOV .col1 {
	width: 88%;
}

#Main_Tape_Files_Grid {
	width: 420px;
    height: 190px;
}

div#Main_Tape_Files_Grid .col0 {
	 width: 400px;
}

#Query_popup {
	visibility: hidden;
	position: absolute;
	left: 200px;
	top: 90px;
	width: 600px;
}

#Query_Tapes_Grid {
	width: 550px;
}

#Query_Tapes_Grid .col0 {
	width: 90px;
}

#Query_Tapes_Grid .col1 {
	width: 95px;
}

#Query_Tapes_Grid .col2 {
	width: 135px;
}

#Query_Tapes_Grid .col3 {
	width: 95px;
}

#Query_Tapes_Grid .col4 {
	width: 95px;
}

div#Query_popup > table {
	width: 525px; 
}

div#File_popup {
	visibility: hidden;
	position: absolute;
	left: 250px;
	top: 90px;
	width: 550px;
}
		
div#File_popup > table {
	width: 525px;
}

#Add_popup {
	position: absolute;
	left: 200px;
	top: 150px;
	width: 460px;
}

#Main_Zoom_Btn {
	visibility: hidden;
}
#Detail_Comments_Zoom{
	width: 340px;
}