form#WFTOBLReport 
{
  display: inline;
}

table .content 
{
  height: 570px;
}

.alignCentre 
{
  text-align: center;
}

td.alignCentre input
{
	width:250px;
}

input.reportButton
{
	width: 240px;
}

#ProgressIndicator_Popup
{
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -75px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}