form#maintainPerDetails
{
	display: inline;
}

div#Master_PERDetailsGrid
{
	width: 471px;
	margin: 5px;
}

div#Master_PERDetailsGrid .col0 { width: 75px; }
div#Master_PERDetailsGrid .col1 { width: 250px; }
div#Master_PERDetailsGrid .col2 { width: 50px; }
div#Master_PERDetailsGrid .col3 { width: 60px; }

td.PERDetail_AmountAllowedEditableLabel { width:165px; }

#addNewPerDetail_subform
{
	width: 600px;
	height: 233px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -117px;
}

input.marginButton
{
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}