/* Form display inline style */
form#ViewCODividends { display: inline; }

/* Set the width of the Payee Details zoom field */
#DebtDetails_PayeeDetails { width: 800px; }

/****************************************** GRIDS ********************************************/

#DividendDetails_DividendsGrid { width: 945px; margin: 5px; }
#DividendDetails_DividendsGrid .col0 { width: 100px; }
#DividendDetails_DividendsGrid .col1 { width: 150px; }
#DividendDetails_DividendsGrid .col2 { width: 150px; }
#DividendDetails_DividendsGrid .col3 { width: 10px; text-align: center; }
#DividendDetails_DividendsGrid .col4 { width: 150px; }
#DividendDetails_DividendsGrid .col5 { width: 10px; text-align: center; }
#DividendDetails_DividendsGrid .col6 { width: 150px; }
#DividendDetails_DividendsGrid .col7 { width: 172px; }

#DebtDetails_DebtsGrid { width: 945px; margin: 5px; }
#DebtDetails_DebtsGrid .col0 { width: 201px; }
#DebtDetails_DebtsGrid .col1 { width: 300px; }
#DebtDetails_DebtsGrid .col2 { width: 10px; text-align: center; }
#DebtDetails_DebtsGrid .col3 { width: 125px; }
#DebtDetails_DebtsGrid .col4 { width: 125px; }
#DebtDetails_DebtsGrid .col5 { width: 10px; text-align: center; }
#DebtDetails_DebtsGrid .col6 { width: 125px; }