/******************************* LOV POP-UPS *************************************************/

#SearchResultsLOVGrid
{
	height: 302px;
	width: 755px;
	margin-left: -380px;
	margin-top: -151px;
	left: 50%;
	top: 50%;
}

#SearchResultsLOVGrid .col0 { width: 170px; }
#SearchResultsLOVGrid .col1 { width: 125px; }
#SearchResultsLOVGrid .col2 { width: 125px; }
#SearchResultsLOVGrid .col3 { width: 125px; }
#SearchResultsLOVGrid .col4 { width: 125px; }

/**********************************************************************************************/

#CourtsLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

/****************************************** FIELDS ********************************************/

#ExecutingCourtName { width: 173px; }
#ExecutingCourtName .input { width: 149px; }