#UsersLOV {width: 518px; left: 250px; top: 220px;}
#UsersLOV .col0 {width: 80px;}
#UsersLOV .col1 {width: 180px;}
#UsersLOV .col2 {width: 180px;}

#PrintersLOV {width: 438px; left: 250px; top: 220px;}
#PrintersLOV .col0 {width: 180px;}
#PrintersLOV .col1 {width: 180px;}

#Main_DefaultPrinter { width: 233px; }

#Main_PrinterCourtLOVGrid
{
	height: 302px;
	width: 372px;
	left: 50%;
	top: 50%;
	margin-left: -186px;
	margin-top: -151px;
}

#ProgressIndicator_Popup
{
	visibility: hidden;
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -75px;
}

#ProgressIndicator_Panel {
	height: 100px;
}

#ProgressIndicator_ActionBarContainer {
	width: 420px;
}
