
# Imported from SVN svn:ignore
file:///svn/caseman/caseman/branches/live_code_branch - dist

file:///svn/caseman/caseman/branches/live_code_branch/app - .lib.app
.metadata
.recommenders
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/.recommenders/index - http___download_eclipse_org_recommenders_models_neon_

file:///svn/caseman/caseman/branches/live_code_branch/app/Servers - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/Servers/src/main/resources - caseman.properties
standalone-full.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/ant-iterator - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/async - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/live_code_branch/app/client - bin
.settings
caseman-dist
target
logs
CaseManClientTestOutput.log

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/endtoend-test/config - test.properties

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_oracle_reports - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_wp - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/xml - allErrors.xml
FW_ErrorMsgs.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/common-application - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration/src/main/resources - security.properties
c3p0-config.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration/src/main/resources/uk/gov/dca/caseman - project_config.xml
project_config_local.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration/src/main/resources/uk/gov/dca/db - project_config.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/content-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/dao - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/database - bin
generated
logs
target
test
test-results

file:///svn/caseman/caseman/branches/live_code_branch/app/database/utils - install_all_ddl.out
install_all_ddl_setup.out
install_all_grants.out

file:///svn/caseman/caseman/branches/live_code_branch/app/invoker-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/mdbs - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/metrics-task - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/performance/performance-tools/P6Spy%20log%20analyzer/uk/gov/dca/tools - ExplainPlanAnalyzer$P6SpyLogStatement.class
ExplainPlanAnalyzer.class

file:///svn/caseman/caseman/branches/live_code_branch/app/server - .settings
bin
target
logs
src-gen

file:///svn/caseman/caseman/branches/live_code_branch/app/server/src-gen/main/java - uk

file:///svn/caseman/caseman/branches/live_code_branch/app/server/test/config - test.properties

file:///svn/caseman/caseman/branches/live_code_branch/app/utils - target
test-results
logs
bin

file:///svn/caseman/caseman/branches/live_code_branch/app/wordprocessing - logs
target
bin

file:///svn/caseman/caseman/branches/live_code_branch/rpt - .lib.app
.metadata
logs

file:///svn/caseman/caseman/branches/live_code_branch/rpt/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/live_code_branch/rpt/output-generator-task - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/rpt/reporting - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch - dist

file:///svn/caseman/caseman/branches/logos_branch/app - .lib.app
.metadata
.recommenders
logs

file:///svn/caseman/caseman/branches/logos_branch/app/.recommenders/index - http___download_eclipse_org_recommenders_models_neon_

file:///svn/caseman/caseman/branches/logos_branch/app/Servers - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/Servers/src/main/resources - caseman.properties
standalone-full.xml

file:///svn/caseman/caseman/branches/logos_branch/app/ant-iterator - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/async - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/logos_branch/app/client - bin
.settings
caseman-dist
target
logs
CaseManClientTestOutput.log

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/endtoend-test/config - test.properties

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_oracle_reports - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_wp - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/xml - allErrors.xml
FW_ErrorMsgs.xml

file:///svn/caseman/caseman/branches/logos_branch/app/common-application - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/configuration - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/configuration/src/main/resources - security.properties
c3p0-config.xml

file:///svn/caseman/caseman/branches/logos_branch/app/configuration/src/main/resources/uk/gov/dca/caseman - project_config.xml
project_config_local.xml

file:///svn/caseman/caseman/branches/logos_branch/app/configuration/src/main/resources/uk/gov/dca/db - project_config.xml

file:///svn/caseman/caseman/branches/logos_branch/app/content-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/dao - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/database - bin
generated
logs
target
test
test-results

file:///svn/caseman/caseman/branches/logos_branch/app/database/utils - install_all_ddl.out
install_all_ddl_setup.out
install_all_grants.out

file:///svn/caseman/caseman/branches/logos_branch/app/invoker-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/mdbs - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/metrics-task - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/performance/performance-tools/P6Spy%20log%20analyzer/uk/gov/dca/tools - ExplainPlanAnalyzer$P6SpyLogStatement.class
ExplainPlanAnalyzer.class

file:///svn/caseman/caseman/branches/logos_branch/app/server - .settings
bin
target
logs
src-gen

file:///svn/caseman/caseman/branches/logos_branch/app/server/src-gen/main/java - uk

file:///svn/caseman/caseman/branches/logos_branch/app/server/test/config - test.properties

file:///svn/caseman/caseman/branches/logos_branch/app/utils - target
test-results
logs
bin

file:///svn/caseman/caseman/branches/logos_branch/app/wordprocessing - logs
target
bin

file:///svn/caseman/caseman/branches/logos_branch/rpt - .lib.app
.metadata
logs

file:///svn/caseman/caseman/branches/logos_branch/rpt/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/logos_branch/rpt/output-generator-task - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/rpt/reporting - bin
logs
target

file:///svn/caseman/caseman/trunk - dist

file:///svn/caseman/caseman/trunk/app - .lib.app
.metadata
.recommenders
logs

file:///svn/caseman/caseman/trunk/app/.recommenders/index - http___download_eclipse_org_recommenders_models_neon_

file:///svn/caseman/caseman/trunk/app/Servers - bin
logs
target

file:///svn/caseman/caseman/trunk/app/Servers/src/main/resources - caseman.properties
standalone-full.xml

file:///svn/caseman/caseman/trunk/app/ant-iterator - bin
target
logs

file:///svn/caseman/caseman/trunk/app/async - bin
logs
target

file:///svn/caseman/caseman/trunk/app/build - env.properties
local.properties

file:///svn/caseman/caseman/trunk/app/client - bin
.settings
caseman-dist
target
logs
CaseManClientTestOutput.log

file:///svn/caseman/caseman/trunk/app/client/src/endtoend-test/config - test.properties

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_oracle_reports - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_wp - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/xml - allErrors.xml
FW_ErrorMsgs.xml

file:///svn/caseman/caseman/trunk/app/common-application - bin
logs
target

file:///svn/caseman/caseman/trunk/app/configuration - bin
logs
target

file:///svn/caseman/caseman/trunk/app/configuration/src/main/resources - security.properties
c3p0-config.xml

file:///svn/caseman/caseman/trunk/app/configuration/src/main/resources/uk/gov/dca/caseman - project_config.xml
project_config_local.xml

file:///svn/caseman/caseman/trunk/app/configuration/src/main/resources/uk/gov/dca/db - project_config.xml

file:///svn/caseman/caseman/trunk/app/content-caseman - bin
logs
target

file:///svn/caseman/caseman/trunk/app/dao - bin
target
logs

file:///svn/caseman/caseman/trunk/app/database - bin
generated
logs
target
test
test-results

file:///svn/caseman/caseman/trunk/app/database/utils - install_all_ddl.out
install_all_ddl_setup.out
install_all_grants.out

file:///svn/caseman/caseman/trunk/app/invoker-caseman - bin
logs
target

file:///svn/caseman/caseman/trunk/app/mdbs - bin
target
logs

file:///svn/caseman/caseman/trunk/app/metrics-task - bin
target
logs

file:///svn/caseman/caseman/trunk/app/performance/performance-tools/P6Spy%20log%20analyzer/uk/gov/dca/tools - ExplainPlanAnalyzer$P6SpyLogStatement.class
ExplainPlanAnalyzer.class

file:///svn/caseman/caseman/trunk/app/server - .settings
bin
target
logs
src-gen

file:///svn/caseman/caseman/trunk/app/server/src-gen/main/java - uk

file:///svn/caseman/caseman/trunk/app/server/test/config - test.properties

file:///svn/caseman/caseman/trunk/app/utils - target
test-results
logs
bin

file:///svn/caseman/caseman/trunk/app/wordprocessing - logs
target
bin

file:///svn/caseman/caseman/trunk/rpt - .lib.app
.metadata
logs

file:///svn/caseman/caseman/trunk/rpt/build - env.properties
local.properties

file:///svn/caseman/caseman/trunk/rpt/output-generator-task - bin
target
logs

file:///svn/caseman/caseman/trunk/rpt/reporting - bin
logs
target


# Imported from SVN svn:ignore
file:///svn/caseman/caseman/branches/live_code_branch - dist

file:///svn/caseman/caseman/branches/live_code_branch/app - .lib.app
.metadata
.recommenders
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/.recommenders/index - http___download_eclipse_org_recommenders_models_neon_

file:///svn/caseman/caseman/branches/live_code_branch/app/Servers - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/Servers/src/main/resources - caseman.properties
standalone-full.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/ant-iterator - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/async - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/live_code_branch/app/client - bin
.settings
caseman-dist
target
logs
CaseManClientTestOutput.log

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/endtoend-test/config - test.properties

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_oracle_reports - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_wp - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic - generated

file:///svn/caseman/caseman/branches/live_code_branch/app/client/src/main/webapp/xml - allErrors.xml
FW_ErrorMsgs.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/common-application - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration/src/main/resources - security.properties
c3p0-config.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration/src/main/resources/uk/gov/dca/caseman - project_config.xml
project_config_local.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/configuration/src/main/resources/uk/gov/dca/db - project_config.xml

file:///svn/caseman/caseman/branches/live_code_branch/app/content-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/dao - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/database - bin
generated
logs
target
test
test-results

file:///svn/caseman/caseman/branches/live_code_branch/app/database/utils - install_all_ddl.out
install_all_ddl_setup.out
install_all_grants.out

file:///svn/caseman/caseman/branches/live_code_branch/app/invoker-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/live_code_branch/app/mdbs - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/metrics-task - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/app/performance/performance-tools/P6Spy%20log%20analyzer/uk/gov/dca/tools - ExplainPlanAnalyzer$P6SpyLogStatement.class
ExplainPlanAnalyzer.class

file:///svn/caseman/caseman/branches/live_code_branch/app/server - .settings
bin
target
logs
src-gen

file:///svn/caseman/caseman/branches/live_code_branch/app/server/src-gen/main/java - uk

file:///svn/caseman/caseman/branches/live_code_branch/app/server/test/config - test.properties

file:///svn/caseman/caseman/branches/live_code_branch/app/utils - target
test-results
logs
bin

file:///svn/caseman/caseman/branches/live_code_branch/app/wordprocessing - logs
target
bin

file:///svn/caseman/caseman/branches/live_code_branch/rpt - .lib.app
.metadata
logs

file:///svn/caseman/caseman/branches/live_code_branch/rpt/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/live_code_branch/rpt/output-generator-task - bin
target
logs

file:///svn/caseman/caseman/branches/live_code_branch/rpt/reporting - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch - dist

file:///svn/caseman/caseman/branches/logos_branch/app - .lib.app
.metadata
.recommenders
logs

file:///svn/caseman/caseman/branches/logos_branch/app/.recommenders/index - http___download_eclipse_org_recommenders_models_neon_

file:///svn/caseman/caseman/branches/logos_branch/app/Servers - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/Servers/src/main/resources - caseman.properties
standalone-full.xml

file:///svn/caseman/caseman/branches/logos_branch/app/ant-iterator - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/async - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/logos_branch/app/client - bin
.settings
caseman-dist
target
logs
CaseManClientTestOutput.log

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/endtoend-test/config - test.properties

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_oracle_reports - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_wp - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic - generated

file:///svn/caseman/caseman/branches/logos_branch/app/client/src/main/webapp/xml - allErrors.xml
FW_ErrorMsgs.xml

file:///svn/caseman/caseman/branches/logos_branch/app/common-application - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/configuration - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/configuration/src/main/resources - security.properties
c3p0-config.xml

file:///svn/caseman/caseman/branches/logos_branch/app/configuration/src/main/resources/uk/gov/dca/caseman - project_config.xml
project_config_local.xml

file:///svn/caseman/caseman/branches/logos_branch/app/configuration/src/main/resources/uk/gov/dca/db - project_config.xml

file:///svn/caseman/caseman/branches/logos_branch/app/content-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/dao - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/database - bin
generated
logs
target
test
test-results

file:///svn/caseman/caseman/branches/logos_branch/app/database/utils - install_all_ddl.out
install_all_ddl_setup.out
install_all_grants.out

file:///svn/caseman/caseman/branches/logos_branch/app/invoker-caseman - bin
logs
target

file:///svn/caseman/caseman/branches/logos_branch/app/mdbs - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/metrics-task - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/app/performance/performance-tools/P6Spy%20log%20analyzer/uk/gov/dca/tools - ExplainPlanAnalyzer$P6SpyLogStatement.class
ExplainPlanAnalyzer.class

file:///svn/caseman/caseman/branches/logos_branch/app/server - .settings
bin
target
logs
src-gen

file:///svn/caseman/caseman/branches/logos_branch/app/server/src-gen/main/java - uk

file:///svn/caseman/caseman/branches/logos_branch/app/server/test/config - test.properties

file:///svn/caseman/caseman/branches/logos_branch/app/utils - target
test-results
logs
bin

file:///svn/caseman/caseman/branches/logos_branch/app/wordprocessing - logs
target
bin

file:///svn/caseman/caseman/branches/logos_branch/rpt - .lib.app
.metadata
logs

file:///svn/caseman/caseman/branches/logos_branch/rpt/build - env.properties
local.properties

file:///svn/caseman/caseman/branches/logos_branch/rpt/output-generator-task - bin
target
logs

file:///svn/caseman/caseman/branches/logos_branch/rpt/reporting - bin
logs
target

file:///svn/caseman/caseman/trunk - dist

file:///svn/caseman/caseman/trunk/app - .lib.app
.metadata
.recommenders
logs

file:///svn/caseman/caseman/trunk/app/.recommenders/index - http___download_eclipse_org_recommenders_models_neon_

file:///svn/caseman/caseman/trunk/app/Servers - bin
logs
target

file:///svn/caseman/caseman/trunk/app/Servers/src/main/resources - caseman.properties
standalone-full.xml

file:///svn/caseman/caseman/trunk/app/ant-iterator - bin
target
logs

file:///svn/caseman/caseman/trunk/app/async - bin
logs
target

file:///svn/caseman/caseman/trunk/app/build - env.properties
local.properties

file:///svn/caseman/caseman/trunk/app/client - bin
.settings
caseman-dist
target
logs
CaseManClientTestOutput.log

file:///svn/caseman/caseman/trunk/app/client/src/endtoend-test/config - test.properties

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_oracle_reports - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_wp - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic - generated

file:///svn/caseman/caseman/trunk/app/client/src/main/webapp/xml - allErrors.xml
FW_ErrorMsgs.xml

file:///svn/caseman/caseman/trunk/app/common-application - bin
logs
target

file:///svn/caseman/caseman/trunk/app/configuration - bin
logs
target

file:///svn/caseman/caseman/trunk/app/configuration/src/main/resources - security.properties
c3p0-config.xml

file:///svn/caseman/caseman/trunk/app/configuration/src/main/resources/uk/gov/dca/caseman - project_config.xml
project_config_local.xml

file:///svn/caseman/caseman/trunk/app/configuration/src/main/resources/uk/gov/dca/db - project_config.xml

file:///svn/caseman/caseman/trunk/app/content-caseman - bin
logs
target

file:///svn/caseman/caseman/trunk/app/dao - bin
target
logs

file:///svn/caseman/caseman/trunk/app/database - bin
generated
logs
target
test
test-results

file:///svn/caseman/caseman/trunk/app/database/utils - install_all_ddl.out
install_all_ddl_setup.out
install_all_grants.out

file:///svn/caseman/caseman/trunk/app/invoker-caseman - bin
logs
target

file:///svn/caseman/caseman/trunk/app/mdbs - bin
target
logs

file:///svn/caseman/caseman/trunk/app/metrics-task - bin
target
logs

file:///svn/caseman/caseman/trunk/app/performance/performance-tools/P6Spy%20log%20analyzer/uk/gov/dca/tools - ExplainPlanAnalyzer$P6SpyLogStatement.class
ExplainPlanAnalyzer.class

file:///svn/caseman/caseman/trunk/app/server - .settings
bin
target
logs
src-gen

file:///svn/caseman/caseman/trunk/app/server/src-gen/main/java - uk

file:///svn/caseman/caseman/trunk/app/server/test/config - test.properties

file:///svn/caseman/caseman/trunk/app/utils - target
test-results
logs
bin

file:///svn/caseman/caseman/trunk/app/wordprocessing - logs
target
bin

file:///svn/caseman/caseman/trunk/rpt - .lib.app
.metadata
logs

file:///svn/caseman/caseman/trunk/rpt/build - env.properties
local.properties

file:///svn/caseman/caseman/trunk/rpt/output-generator-task - bin
target
logs

file:///svn/caseman/caseman/trunk/rpt/reporting - bin
logs
target

