#MaintainUserToSectionAllocations
{
   disply: inline;
}
#Header_SectionResultsGrid
{
	width: 155px;	
}
#Header_SectionResultsGrid .col0 { width: 150px; }

#Header_UsersResultsGrid
{
	width: 430px;	
}
#Header_UsersResultsGrid .col0 { width: 80px; }
#Header_UsersResultsGrid .col1 { width: 150px; }
#Header_UsersResultsGrid .col2 { width: 150px; }


#Master_AllocationsHistoryResultsGrid
{
  	width: 400px;
}
#Master_AllocationsHistoryResultsGrid .col0 { width: 100px; }
#Master_AllocationsHistoryResultsGrid .col1 { width: 100px; }
#Master_AllocationsHistoryResultsGrid .col2 { width: 150px; }

#UserIDLOV
{
	width: 483px;
	left: 300px;
	top: 100px;
}

#SectionLOV
{
	width: 187px;
	left: 300px;
	top: 100px;
}

#UserIDLOV .col0 {width: 80px;}
#UserIDLOV .col1 {width: 150px;}
#UserIDLOV .col2 {width: 150px;}

#SectionLOV .col0 {width: 150px;}

div#AlterUserToSection_Popup
{
	visibility: hidden;
	position: absolute;
	left: 300px;
	top: 100px;
	width: 300px;
}

div#Popup_AllocationResultsGrid
{
	margin: 5px;
	width: 270px;
}

div#Popup_AllocationResultsGrid .col0 { width: 80px; }
div#Popup_AllocationResultsGrid .col1 { width: 150px; }

