form#ViewPayments { display: inline; }

/****************************************** GRIDS ********************************************/

#Header_PartyTypeGrid { width: 450px; margin: 5px; }
#Header_PartyTypeGrid .col0 { width: 210px; }
#Header_PartyTypeGrid .col1 { width: 50px; }
#Header_PartyTypeGrid .col2 { width: 157px; }

#Master_PaymentsGrid { width: 945px; margin: 5px; }
#Master_PaymentsGrid .col0 { width: 85px; }
#Master_PaymentsGrid .col1 { width: 115px; }
#Master_PaymentsGrid .col2 { width: 85px; }
#Master_PaymentsGrid .col3 { width: 100px; }
#Master_PaymentsGrid .col4 { width: 10px; text-align: center; }
#Master_PaymentsGrid .col5 { width: 100px; }
#Master_PaymentsGrid .col6 { width: 100px; }
#Master_PaymentsGrid .col7 { width: 100px; }
#Master_PaymentsGrid .col8 { width: 180px; }
#Master_PaymentsGrid .col9 { text-align: center; width: 10px; }
#Master_PaymentsGrid .errorClass
{
    background: #d3e7d3;
    border-color: #d3e7d3;
}

/***************************************** SUBFORMS ******************************************/

#viewPaymentDetails_subform
{
	left: 50%;
	top: 50%;
	margin-left: -463px;
	margin-top: -240px;
	width: 925px;
	height: 480px;
}