#MainPanel
{
	height: 500px;
}

#MasterPanel
{
}

#Master_Reports { }
#Master_Reports .col0 { width: 80px; }
#Master_Reports .col1 { width: 80px; }
#Master_Reports .col2 { width: 270px; }
#Master_ReportsVerticalScrollbar
{
	height: expression(ScrollbarCalculateHeightId('Master_ReportsVerticalScrollbar'));
}

#DetailPanel
{
}